<head>
  <style>
    body {
      background-color: #FBF764;
    }
    .field, .actions, .links {
      width: 300px;
      margin: auto;
    }
    #user_email, #user_password {
      border-radius: 20px;
      width: 300px;
      height: 40px;
      margin-bottom: 15px;
    }
    input[type="submit"] {
      border-radius: 20px;
      width: 300px;
      height: 40px;
      margin-bottom: 15px;
      background-color: #543B19;
      color: white;
      font-weight: bold;
    }
    input[type="submit"]:hover {
      color: black;
    }
    div > a {
      color: black;
      font-weight: bold;
    }
    div > a:hover {
      color: white;
      text-decoration: none;
    }
    .checkbox1 {
      padding-left: 20px;
      margin-top: -5px;
      margin-bottom: 5px;
      color: black;
    }
    .container {
      padding-top: 10%;
    }
    .logo-size {
      display: block;
      width: 100px;
      margin: auto;
      margin-bottom: 3em;
    }
  </style>
</head>
<body>
  <div class="container">

    <!--logo-->
    <%= image_tag "hexagon.svg.png", class: "logo-size" %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field checkbox1">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn" %>
      </div>
    <% end %>

    <div class="links">
      <%= render "users/shared/links" %>
    </div>
  </div>
</body>
