<head>
  <style>
    @font-face {
      font-family: "Source Sans Pro Light";
      src: url('/assets/SourceSansPro-Light.otf');

      font-family: "Source Sans Pro Regular";
      src: url('/assets/SourceSansPro-Regular.otf');

      font-family: "Source Sans Pro Bold";
      src: url('/assets/SourceSansPro-Semibold.otf');
    }
    * {
      font-family: "Source Sans Pro Regular";
    }
    body {
      background: url(https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg) no-repeat center center;
      background-size: cover;
    }
    .field, .actions, .links {
      width: 300px;
      margin: auto;
    }
    #user_email, #user_password {
      border-radius: 20px;
      width: 300px;
      height: 40px;
      margin-bottom: 15px;
      background-color: transparent;
    }
    input[type="submit"] {
      border-radius: 20px;
      border: 1.5px solid #DA413D;
      width: 300px;
      height: 40px;
      margin-bottom: 15px;
      color: #DA413D;
      font-weight: bold;
      background: linear-gradient(to left, white 50%, #DA413D 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      -webkit-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      transition:all 0.8s ease;
    }
    input[type="submit"]:hover {
      background-position: left bottom;
      color: white;
    }
    .links a {
      color: grey;
      font-weight: bold;
      padding: 5px 8px;
      display: inline-block;
      margin-bottom: 2px;
      border-radius: 16px;
      text-decoration: none;
      -webkit-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .links a:hover {
      background-color: #DA413D;
      color: white;
    }
    .checkbox1 {
      padding-left: 20px;
      margin-top: -5px;
      margin-bottom: 5px;
      color: grey;
    }
    .body-container {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 47%;
      margin-top: -192.25px;
      margin-left: -150px;
      background-color: #f9f9f9;
      padding: 30px;
      box-shadow: 8px 8px 4px #3a3a3a;
    }
    #logo {
      text-align: center;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>

  <div class="body-container">
    <!--logo-->
    <div id="logo">
      <a href="/landing/index">Sync</a>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field checkbox1">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn" %>
      </div>
    <% end %>

    <div class="links">
      <%= render "users/shared/links" %>
    </div>
  </div>
  <script>
  jQuery(function() {
    var tz = jstz.determine();
    var tz_name = tz.name();
    $.ajax({
      method: "GET",
      url: '/users/sign_in',
      data: { timezone: tz_name }
    }).done(function() {
    });
  });
  </script>

</body>
