    <div class="member">
      <!--list admins first-->
      <% member.where(admin: true).each do |members| %>
        <% User.where(id: members.user_id).find_each do |friends_info| %>
          <button type="button" class="btn member-profile" data-toggle="modal" data-target="#user_profile_<%= friends_info.id %>">
            <div class="member-prof-positioning">
              <div class="orientation-correcter">
                <div class="hex" id="member-hex">
                  <div>
                    <!-- <% unless @user.image_url.nil? %> -->
                      <img src="http://www.readersdigest.ca/wp-content/uploads/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="profile img">
                    <!-- <% end %> -->
                  </div>
                </div>
              </div>
            </div>
            <%= friends_info.first_name %> <%= friends_info.last_name %>
            <%= friends_info.class_year %>
            <p>admin</p>
          </button>
          <div class="modal fade" id="user_profile_<%= friends_info.id %>" tableindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content member-profile-popup">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title"><%= friends_info.first_name %>'s profile</h4>
                </div>
                <div class="modal-body">
                  <div class="member-prof-positioning">
                    <div class="orientation-correcter">
                      <div class="hex">
                        <div>
                          <!-- <% unless @user.image_url.nil? %> -->
                            <img src="http://www.readersdigest.ca/wp-content/uploads/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="profile img">
                          <!-- <% end %> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item">Name: <%= friends_info.first_name %> <%= friends_info.last_name %></li>
                    <li class="list-group-item">Email: <%= friends_info.email %></li>
                    <li class="list-group-item">School: <%= friends_info.school %></li>
                    <li class="list-group-item">Major: <%= friends_info.major %></li>
                    <li class="list-group-item">Class Year: <%= friends_info.class_year %></li>
                    <!-- <li class="list-group-item">Company: <%= friends_info.company %> </li> -->
                  </ul>
                </div>
                <div class="modal-footer">
                  <div class="input-box">
                    <input type="text" class="input-box_text" id="message_input"/>
                  </div>
                  <form action="/rooms/new_chat" method="get">
                    <input name= "group_id" type="hidden" value= "<%= @group.id %>">
                    <button name="friend_id" value= "<%= friends_info.id %>" type="submit" class="btn btn-default reply_submit">Send Message</button>
                  </form>
                </div>
              </div><!--modal content-->
            </div><!--modal-dialog-->
          </div><!--modal fade-->
        <% end %>
      <% end %>

      <!--then list members-->
      <% member.where(admin: false).each do |members| %>
        <% User.where(id: members.user_id).find_each do |friends_info| %>
          <button type="button" class="btn member-profile" data-toggle="modal" data-target="#user_profile_<%= friends_info.id %>">
            <div class="member-prof-positioning">
              <div class="orientation-correcter">
                <div class="hex" id="member-hex">
                  <div>
                    <!-- <% unless @user.image_url.nil? %> -->
                      <img src="http://www.readersdigest.ca/wp-content/uploads/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="profile img">
                    <!-- <% end %> -->
                  </div>
                </div>
              </div>
            </div>
            <%= friends_info.first_name %> <%= friends_info.last_name %>
            <%= friends_info.class_year %>
          </button>
          <div class="modal fade" id="user_profile_<%= friends_info.id %>" tableindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content member-profile-popup">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title"><%= friends_info.first_name %>'s profile</h4>
                </div>
                <div class="modal-body">
                  <div class="member-prof-positioning">
                    <div class="orientation-correcter">
                      <div class="hex">
                        <div>
                          <!-- <% unless @user.image_url.nil? %> -->
                            <img src="http://www.readersdigest.ca/wp-content/uploads/2011/01/4-ways-cheer-up-depressed-cat.jpg" alt="profile img">
                          <!-- <% end %> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item">Name: <%= friends_info.first_name %> <%= friends_info.last_name %></li>
                    <li class="list-group-item">Email: <%= friends_info.email %></li>
                    <li class="list-group-item">School: <%= friends_info.school %></li>
                    <li class="list-group-item">Major: <%= friends_info.major %></li>
                    <li class="list-group-item">Class Year: <%= friends_info.class_year %></li>
                    <!-- <li class="list-group-item">Company: <%= friends_info.company %> </li> -->
                  </ul>
                </div>
                <div class="modal-footer">
                  <div class="input-box">
                    <input type="text" class="input-box_text" id="message_input"/>
                  </div>
                  <form action="/rooms/new_chat" method="get">
                    <input name= "group_id" type="hidden" value= "<%= @group.id %>">
                    <button name="friend_id" value= "<%= friends_info.id %>" type="submit" class="btn btn-default reply_submit">Send Message</button>
                  </form>
                </div>
              </div><!--modal content-->
            </div><!--modal-dialog-->
          </div><!--modal fade-->
        <% end %>
      <% end %>
    </div>
