<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">Sync</a>
      </div>

      <!--search bar-->
      <div class="col-md-5" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= groups_path %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Settings</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->
<div class ="container-fluid container-body">
  <div class="row">

    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-tasks" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>My Schedule</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.where.not(group_id: 1).each do |user_groups| %>
            <li><div class="circle_<%= user_groups.color %>"></div><a href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p style="background-color: #DA413D;"><a style="color: white" href="/home/create_group_view"><i style="color: white" class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <div class="col-md-8 board">
      <div class="create_group-header">
        <h3>Create A Group</h3>
      </div>

        <hr>

      <form action= "/home/create_group" method="get">
        <div class="group-field">
          <label for="group-name"><span style="color: #DA413D; margin-right: 3px">*</span>Your Group Name</label><br>
          <input name= "group_name" type="text" class="form-control" id="group-name">
        </div>
        <div class="group-field">
          <label for="group-school"><span style="color: #DA413D; margin-right: 3px">*</span>Your School</label><br>
          <input name= "group_school" type="text" class="form-control" id="group-school">
        </div>
        <div class="group-field">
          <label for="group-Description"><span style="color: #DA413D; margin-right: 3px">*</span>Description</label><br>
          <textarea name="group_description" type="text" class="form-control" id="group-description" rows="4"></textarea>
        </div>
        <div class="group-field">
          <label for="group-email">Group Email (optional)</label><br>
          <input name= "group_email" type="email" class="form-control" id="group-email">
        </div>
        <div class="group-field">
          <label for="group-email">Official Group Website (optional)</label><br>
          <input name= "group_website" type="text" class="form-control" id="group-website">
        </div>
        <div class="group-field">
          <label for="group-password"><span style="color: #DA413D; margin-right: 3px">*</span>Password for this Group</label><br>
          <input name= "group_pw" type="text" class="form-control" id="group-pw">
        </div>
        <div class="group-field">
          <input type="radio" name="color" value="red" checked> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_red"></div>
          <input type="radio" name="color" value="orange"> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_orange"></div>
          <input type="radio" name="color" value="yellow"> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_yellow"></div>
          <input type="radio" name="color" value="green"> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_green"></div>
          <input type="radio" name="color" value="blue"> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_blue"></div>
          <input type="radio" name="color" value="skyblue"> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_skyblue"></div>
          <input type="radio" name="color" value="purple"> <div style="margin-right: 15px; height:20px; width:20px; margin-left: 5px; top: 15px;" class="circle_purple"></div>
        </div>
        <div class="group-field">
          <button type="submit" class="btn" id="create-group-btn">Create Group</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-2">
  </div>

  </div><!--row-->
</div>
<script>
//search suggestions
$( function() {
  $( "#search_group" ).autocomplete({
    source: $( "#search_group" ).data('autocomplete')
  });
});
</script>
