<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-5" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->

<div class ="container-fluid container-body">
  <div class="row">

    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>My Schedule</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.where.not(group_id: 1).each do |user_groups| %>
            <li><div class="circle_<%= user_groups.color %>"></div><a href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Body-->
    <div class="col-md-8 board">
      <div class="group-edit-header">
        <h3>Group Settings</h3>
      </div>
      <div class="group-update-label">
        UPDATE GROUP PROFILE
      </div>
      <hr>
      <% if @admin_user.admin == true %>
        <form action= "/home/group_edit" method="post" enctype="multipart/form-data">
          <div class="group-image-update">
            <% if @group.image_url=="" %>
              <img src="http://www.sessionlogs.com/media/icons/defaultIcon.png" alt="profile img" title="default profile image" style="border-radius: 50%;" width="100">
            <% else %>
              <img src="<%= @group.image_url %>" alt="profile img" style="border-radius: 50%;" width="100">
            <% end %>
            <br>
            <label class="btn" for="profile-image-upload"><i class="fa fa-upload" aria-hidden="true"></i> Upload Photo</label>
            <input type="file" name="pic" accept="image/*" id="profile-image-upload">
          </div>
          <div class="group-profile-field">
            <label for="group-name">Group Name</label><br>
            <input name= "group_name", type="text", class="form-control" value="<%= @group.name %>">
          </div>
          <div class="group-profile-field">
            <label for="group-school">School</label><br>
            <input name= "group_school", type="text", class="form-control" value="<%= @group.school %>">
          </div>
          <div class="group-profile-field">
            <label for="group-Description">Description</label><br>
            <textarea name= "group_description" type="text" class="form-control" rows="4"><%= @group.description %></textarea>
          </div>
          <div class="group-profile-field">
            <label for="group-email">Group Email</label><br>
            <input name= "group_email", type="email", class="form-control" value="<%= @group.email %>">
          </div>
          <div class="group-profile-field">
            <label for="group-email">Group Website</label><br>
            <input name= "group_website", type="text", class="form-control" value="<%= @group.website_address %>">
          </div>
          <div class="group-profile-field">
            <label for="group-password">Group Password</label><br>
            <input name= "group_pw", type="text", class="form-control" value="<%= @group.password %>">
          </div>
          <input name="group_id" type="hidden" value="<%= @group.id %>"/>
          <div class="group-profile-field">
            <button type="submit" class="btn" id="group-profile-change-button">Save Changes</button>
          </div>
        </form>
      <% else %>

        <div class="group-profile-field">
          <label for="group-name">Group Name</label><br>
          <%= @group.name %>
        </div>
        <div class="group-profile-field">
          <label for="group-school">School</label><br>
          <%= @group.school %>
        </div>
        <div class="group-profile-field">
          <label for="group-Description">Description</label><br>
          <%= @group.description %>
        </div>
        <div class="group-profile-field">
          <label for="group-email">Group Email</label><br>
          <%= @group.email %>
        </div>
        <div class="group-profile-field">
          <label for="group-email">Group Website</label><br>
          <%= @group.website_address %>
        </div>
        <div class="group-profile-field">
          <label for="group-password">Group Password</label><br>
          <%= @group.password %>
        </div>
      <% end %>
    </div><!--col-md-7-->

    <div class="col-md-2">
    </div>

  </div><!--row-->
</div><!--container-->
