<!-- Welcome Message -->
<% if User.find_by_id(current_user.id).group_first_time == "yes" %>
  <script>
    jQuery(function(){
     jQuery('#welcome_message_btn').trigger('click');
    });
    var group_first_time = "no"

    $.ajax({
      method: "GET",
      url: '/home/group_page/<%= @group.id %>',
      data: { group_first_time: group_first_time }
    })
  </script>
  <button id="welcome_message_btn" data-toggle="modal" data-target="#welcome_message" class="btn"></button>
  <div class="modal fade" id="welcome_message" tableindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">This is Your First Group!</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
          This is <%= @group.name %>'s Page. <br />
          <br />
          You can view/manage all of <%= @group.name %>'s activities here. <br />
          <br />


        </div>
        <div class="modal-footer get-started" style="text-align: center;">
          <button data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-5" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->

<div class ="container-fluid container-body">
  <div class="row">

    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>My Schedule</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.where.not(group_id: 1).each do |user_groups| %>
            <li><div class="circle_<%= user_groups.color %>"></div><a href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Body-->
    <div class="col-md-8 board">
      <div id="group_profile">
        <% if @group.image_url=="" %>
          <img src="http://www.sessionlogs.com/media/icons/defaultIcon.png" alt="profile img" title="default profile image" style="border-radius: 50%;" width="100">
        <% else %>
          <img src="<%= @group.image_url %>" alt="profile img" style="border-radius: 50%;" width="100">
        <% end %>
        <div class="group_profile_heading">
          <h3><%= @group.name %></h3>
          <p><%= @group.school %></p>
          <a href="<%= @group.website_address %>"><%= @group.website_address %></a>
        </div>
        <p><%= @group.description %></p>
        <a href="/home/group_profile/<%= @group.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </div>
      <hr>

      <ul class ="nav nav-pills" id="feature-tabs">
        <li class="active" ><a href="#Announcement" data-toggle="tab">Announcement</a></li>
        <li><a href="#Calendar" data-toggle="tab">Calendar</a></li>
        <li><a href="#Poll" data-toggle="tab">Poll</a></li>
        <li><a href="#Files" data-toggle="tab">Files</a></li>
        <li><a href="#Budget" data-toggle="tab">Budget</a></li>
        <li><a href="#Members" data-toggle="tab">Member</a></li>
      </ul>

      <div class="tab-content">
        <!-- Announcements -->
        <div class="tab-pane active" id="Announcement">
          <!-- Make an announcement (visible only to admin) -->
            <% if @admin_user.admin == true %>
            <button data-toggle="modal" data-target="#post_announcement" class="btn" id="add_ann_btn"><i class="fa fa-plus" aria-hidden="true"></i>New</button>

            <!-- New Announcement Modal -->
            <div class="modal fade" id="post_announcement" tableindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="ann_popup_new">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Post New Announcement</h4>
                  </div>

                  <div class="modal-body">
                    <form action="/home/announcement" method="get">
                      <label>Title</label>
                      <input name="announcement_title" type="text" class="form-control"/>
                      <label>Content</label>
                      <input id="announcement_content" type="hidden" name="announcement_content"/>
                      <trix-editor input="announcement_content"></trix-editor>
                      <label>Email</label>
                      <input name="announcement_email" type="email" value="<%= @group.email %>" class="form-control"/>
                      <input name="group_id" type="hidden" value="<%= @group.id %>">
                      <div class="popup-buttons">
                        <button name="post" value= "no_email" type="submit" class="btn">Post</button>
                        <button name="post" value= "send_email" type="submit" class="btn">Post and Send Email</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <% end %>
            <br>
            <% unless @announcements.first == nil %>
              <div id="announcements_board">
                <ul class="nav nav-stacked">
                  <% @announcements.each do |announcements| %>
                    <li>
                      <!-- <a href="/destroy_ann/<%= announcements.id %>" class="btn destroy_ann" style="position: absolute; font-size: 10px; padding: 0;">Delete</a> -->
                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, announcements_path(announcements), method: :delete, data: {confirm: 'Would you like to delete this announcement?'}, remote: true, class: 'delete_ann' %>
                      <a href="#ann_<%= announcements.id %>" data-toggle="tab">
                        <p class="announcement_list_title">
                          <%= announcements.title %>
                        </p>
                        <p class="announcement_list_date">
                          <%= announcements.created_at.in_time_zone($timezone) %>
                        </p>
                        <%= announcements.content.html_safe %>
                      </a>
                    </li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <% @announcements.each do |announcements| %>
                    <div class="tab-pane" id="ann_<%= announcements.id %>">
                      <h4><%= announcements.title %></h4>
                      <p>From: <%= User.find(Annnoti.find_by(announcement_id: announcements.id).sender).first_name %> <%= User.find(Annnoti.find_by(announcement_id: announcements.id).sender).last_name %></p>
                      <span class="announcement_tab_content_date"><%= announcements.created_at.in_time_zone($timezone).strftime("%B %e, %Y at %l:%M %p") %></span>
                      <div class="announcement_tab_content_content"><%= sanitize(announcements.content) %></div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% else %>
              <div class="group_page_no_announcement">
                <p>
                  There is no announcement in this group
                </p>
              </div>
            <% end %>
            <script>
              $(function(){
                $('#announcements_board ul li:first-child').addClass("active");
                $('#announcements_board .tab-content .tab-pane:first-child').addClass("active");
              });
            </script>
        </div><!--Announcement tab-->

        <!-- Calendar -->
        <div class="tab-pane" id="Calendar">
          <div id="group_calendar" class="calendar">
            <input name= "group_id" type="hidden" value= "<%= @group.id %>">
            <div id="admin" data-admin="<%= @admin_user.admin %>"></div>
            <div id="event_type" data-type="<%= $type %>"></div>
          </div>
        </div>

        <!-- Files -->
        <div class="tab-pane" id="Files">
          <form action="/home/file_upload" method="post" enctype="multipart/form-data">
            <input name="group_id" type="hidden" value="<%= @group.id %>">
            <input name="file_name" id="file_name" type="hidden" value="">
            <label for="group_file" class="btn"><i class="fa fa-upload" aria-hidden="true"></i> Choose file</label>
            <input type="file" id="group_file" name="file" multiple>
            <button type="submit" class="btn">Upload</button>
          </form>
          <table class="table table-hover" style="margin-left: 30px; width: 90%;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% unless @files == nil %>
                <% @files.each do |f| %>
                  <tr>
                    <td><a href="<%= f.file_url %>"><%= f.filename %></a></td>
                    <td><%= f.created_at.strftime("%Y-%m-%d") %></td>
                    <td><a href="/destroy_file/<%= f.id %>">Delete</a></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <script>
            $(function(){
              $('#group_file').change(function() {
                var i = $(this).prev('label').clone();
                var file = $('#group_file')[0].files[0].name;
                document.getElementById("file_name").value = file;
                if (file.length > 20) {
                  file = file.substr(0, 10) + "..." + file.substr(file.length-6, file.length);
                }
                $(this).prev('label').text(file);
              });
            });
          </script>
        </div><!--Files tab-->

        <!-- Black Board -->
        <div class="tab-pane" id="Poll">
          <!-- Create Poll  -->
            <button data-toggle="modal" data-target="#create_poll" class="btn" id="add_poll_btn"><i class="fa fa-plus" aria-hidden="true"></i>New</button>

            <!-- Create Poll Modal -->
            <div class="modal fade" id="create_poll" tableindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="poll_popup">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create New Poll</h4>
                  </div>
                  <div class="modal-body">
                    <form id = "form_poll" action="/home/new_poll" method="get">
                      <label>Title</label>
                      <input name="poll_title" type="text" class="input-box_text form-control"/>
                      <!-- Add div to let the ajax script know where to append new input field. -->
                      <% $n = 2 %>
                      <div id="option_div">
                      <!-- 2 options default-->
                        <% for i in 1..2 %>
                          <label for="option_<%= i %>">Option <%= i %></label>
                          <input name="option_content_<%= i %>" id="option_<%= i %>"type="text" class="input-box_text form-control"/>
                        <% end %>
                      </div>
                      <!--anonymous checkbox-->
                      <div class="checkbox">
                        <label><input name=anonymous type="checkbox" value="true">Anonymous?</label>
                      </div>
                      <div class="create_poll_btn">
                        <button name="group_id" value="<%= @group.id %>" type="submit" class="btn">Create!</button>
                      </div>
                    </form><!-- form_poll input-->

                    <!--Add an Option, Used Ajax. Look at script-->
                    <button value= "<%= $n %>" type="submit" class="btn add_option">Add an Option</button>
                  </div>
                </div>
              </div>
            </div>

          <!-- Polls -->
          <% unless @poll.first == nil %>
            <div id="poll_board">
              <ul class="nav nav-stacked">
                <% @poll.each do |p| %>
                  <li>
                    <%= link_to '<i class="fa fa-times"></i>'.html_safe, p_path(p), method: :delete, data: {confirm: 'Would you like to delete this poll?'}, remote: true, class: 'delete_poll' %>
                    <a href="#poll_<%= p.id %>" data-toggle="tab">
                      <p class="poll_list_title">
                        Q: <%= p.title %>
                      </p>
                      <p class="poll_list_answer">
                        <% if Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).exists? %>
                          A: <%= Option.find(Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).first.option_id).content %>
                        <% end %>
                      </p>
                      <p class="poll_list_date">
                        <%= p.created_at.in_time_zone($timezone) %>
                      </p>
                    </a>
                  </li>
                <% end %>
              </ul>
              <div class="tab-content">
                <% @poll.each do |p| %>
                  <div class="tab-pane" id="poll_<%= p.id %>">
                    <h4><%= p.title %></h4>
                    <p>From: <%= User.find(Pollnoti.find_by(poll_id: p.id).sender).first_name %> <span style="text-transform: capitalize"><%= User.find(Pollnoti.find_by(poll_id: p.id).sender).last_name %></span></p>
                    <span class="poll_tab_content_date"><%= p.created_at.in_time_zone($timezone).strftime("%B %e, %Y at %l:%M %p") %></span> <!--%l:%M %p-->
                    <!-- Already voted -->
                    <% if Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).exists? %>
                      <div class="already-voted">
                        <form action="/home/option_cancel" method="get">
                          <% Option.where(poll_id: p.id).find_each do |o| %>
                            <div class="radio">
                              <!-- Options -->
                              <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                            </div>
                          <% end %>
                          <!-- user cancels his/her vote -->
                          <button name="poll_id" value="<%= p.id %>" type="submit" class="btn">Cancel My Vote</button>
                        </form>

                        <div class="poll_stat_<%= p.id %>">
                          <% Option.where(poll_id: p.id).find_each do |o| %>
                            <p class="view_stat_options"><%= o.content %> <span style="color: #DA413D;"><%= o.vote_number %></span></p>
                            <!-- Find the people who voted -->
                            <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                              <% User.where(id: pu.user_id).find_each do |voted_user| %>
                                <div class="view_stat_options_votes">
                                  <%= voted_user.first_name %> <%= voted_user.last_name %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>

                          <!-- Find the people who have not voted -->
                          <p class="view_stat_options">Not Voted</p>
                          <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                            <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                              <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                                <div class="view_stat_options_votes">
                                  <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                </div>
                              <% end %>
                              <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                                <div class="view_stat_options_votes">
                                  <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </div><!-- poll_stat -->

                      </div>

                    <% else %><!-- Already voted? NO -->
                    <div class="not-voted">
                      <!-- then Vote -->
                      <form action="/home/option_select" method="get">
                        <% Option.where(poll_id: p.id).find_each do |o| %>
                          <div class="radio">
                            <!-- Options -->
                            <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                          </div>
                        <% end %>
                        <button name="poll_id" value="<%= p.id %>" type="submit" class="btn">Vote!</button>
                      </form><!-- Vote -->

                      <div class="poll_stat_<%= p.id %>">
                        <% Option.where(poll_id: p.id).find_each do |o| %>
                          <p class="view_stat_options"><%= o.content %> <span style="color: #DA413D;"><%= o.vote_number %></span></p>
                          <!-- Find the people who voted -->
                          <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                            <% User.where(id: pu.user_id).find_each do |voted_user| %>
                              <div class="view_stat_options_votes">
                                <%= voted_user.first_name %> <%= voted_user.last_name %>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>

                        <!-- Find the people who have not voted -->
                        <p class="view_stat_options">Not Voted</p>
                        <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                          <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                            <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                              <div class="view_stat_options_votes">
                                <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                              </div>
                            <% end %>
                            <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                              <div class="view_stat_options_votes">
                                <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div><!-- poll_stat -->

                    </div>
                    <% end %><!-- Polluser exists? -->
                  </div>
                <% end %>
              </div>
              <script>
                $(function(){
                  $('#poll_board ul li:first-child').addClass("active");
                  $('#poll_board .tab-content .tab-pane:first-child').addClass("active");
                });
              </script>
            </div>

            <% else %>
              <div class="group_page_no_poll">
                <p>
                  There is no poll in this group
                </p>
              </div>
            <% end %>
        </div><!-- poll tab -->

        <!-- Budget Tracker -->
        <div class="tab-pane" id="Budget">
          <!-- Add transaction (visible only to admin) -->
          <% if @admin_user.admin == true %>
            <div id="budget_item_input">
              <input id="description" type="text" class="form-control" placeholder="Description">
              <input id="money" type="number" class="form-control" placeholder="$00.00">
              <button value="<%= @group.id %>" type="submit" class="btn money_plus_button"><i class="fa fa-plus" aria-hidden="true"></i></button>
              <button value="<%= @group.id %>" type="submit" class="btn money_minus_button"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </div>
          <% end %>

          <!-- Add div to let the ajax script know where to append new input field. -->
          <div id="transactions">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td></td>
                  <td style="text-align: center; font-weight: bold;">Total</td>
                  <td id="total_budget"><%= @budget.group_budget %></td>
                </tr>
              </tfoot>
              <tbody class= "each_transaction">
                <!-- Transaction records for this group -->
                <% Transaction.where(budget_id: @budget.id).find_each do |t| %>
                  <% if t.pos_neg == true %>
                    <tr class="revenue">
                      <td><%= t.created_at.in_time_zone($timezone).strftime("%m-%d-%Y") %></td>
                      <td><%= t.description %></td>
                      <td>+ <%= t.value %> <a style="float:right;" href="/destroy_transaction/<%= t.id %>"><i class="fa fa-times" aria-hidden="true" style="color:red"></i></a></td>
                    </tr>
                  <% end %>
                  <% if t.pos_neg == false %>
                    <tr class="expense">
                      <td><%= t.created_at.in_time_zone($timezone).strftime("%m-%d-%Y") %></td>
                      <td><%= t.description %></td>
                      <td>- <%= t.value %> <a style="float:right;" href="/destroy_transaction/<%= t.id %>"><i class="fa fa-times" aria-hidden="true" style="color:red"></i></a></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Members -->
        <div class="tab-pane" id="Members">
          <div style="margin-bottom: 20px; margin-left: 35px;">
            <label style="margin-right: 5px;">Search by Name</label>
            <input type="text" class="text-input search_member_name">
          </div>

          <div id="members">
            <%= render partial: "member", locals: { member: @members } %>
          </div>
        </div><!--Members tab-->

      </div><!--tab content-->
    </div><!--col-md-7-->

    <div class="col-md-2">
    </div>

  </div><!--row-->
</div><!--container-->




<script>
//momentjs-rails
$('.announcement_list_date').each(function() {
  this.textContent = moment(this.textContent).startOf('minute').fromNow();

});
$('.poll_list_date').each(function() {
  this.textContent = moment(this.textContent).startOf('minute').fromNow();

});
//Group Calendar
var admin = $("#admin").data("admin");
var initialize_calendar;

  initialize_calendar = function() {
    $('.calendar').each(function(){
      var calendar = $(this);

      calendar.fullCalendar({
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'month, agendaWeek, agendaDay'
        },
        selectable: admin,
        selectHelper: true,
        editable: admin,
        eventLimit: true,
        droppable: admin,
        events: '/events.json',
        select: function(start, end) {
          $.getScript('/events/new', function() {
            if (start.hasTime())
            {
              $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
              $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
              $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
            }
            else {
              $('#event_date_range').val(moment(start).format("MM/DD/YYYY") + ' - ' + moment(end).format("MM/DD/YYYY"));
              $('.start_hidden').val(moment(start).format('YYYY-MM-DD'));
              $('.end_hidden').val(moment(end).format('YYYY-MM-DD'));

            }

          });
          calendar.fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
        event_data = {
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
        },

        eventClick: function(event, jsEvent, view) {
       $.getScript(event.edit_url, function() {
         $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"));
         date_range_picker();
         $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
         $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
       });
     }
      });
    });
  };
$(document).on('turbolinks:load', initialize_calendar);




  //announcement accordion
  // $( function() {
  //    $( ".announcement_accordion" ).accordion();
  //  } );
  //
  // //poll accordion
  // $( function() {
  //   $( ".poll_accordion" ).accordion({
  //     heightStyle: "content"
  //   });
  //  } );

   var today = new Date();
   var dd = today.getDate();
   var mm = today.getMonth()+1; //January is 0!
   var yyyy = today.getFullYear();

   if(dd<10) {
       dd = '0'+dd
   }

   if(mm<10) {
       mm = '0'+mm
   }

   today = mm + '-' + dd + '-' + yyyy;

  //Budget - plus
  $(function() {
    $('.money_plus_button').click(function(){

      group_id = this.value;
      money_plus = $('#money').val();
      description_p = $('#description').val();

      $.ajax({
        method: "POST",
        url: '/home/money_plus',
        data: { group_id: group_id,
                money_plus: money_plus,
                description_p: description_p }

      }).done(function() {
        var old_budget = document.getElementById("total_budget").innerHTML;
        var new_budget = parseInt(old_budget) + parseInt(money_plus)
        $(".each_transaction").append("<tr class= 'revenue'> <td>" + today + "</td> <td>" + description_p + "</td> <td> + " + money_plus + "</td><tr>");
        $("#total_budget").empty();
        $("#total_budget").append(new_budget);
        $("#description").val("");
        $("#money").val("");

      });
    });
  });

//Budget - minus
  $(function() {
    $('.money_minus_button').click(function(){

      group_id = this.value;
      money_minus = $('#money').val();
      description_m = $('#description').val();

      $.ajax({
        method: "POST",
        url: '/home/money_minus',
        data: { group_id: group_id,
                money_minus: money_minus,
                description_m: description_m }

      }).done(function() {
        var old_budget = document.getElementById("total_budget").innerHTML;
        var new_budget = parseInt(old_budget) - parseInt(money_minus)
        $(".each_transaction").append("<tr class= 'expense'> <td>" + today + "</td> <td>" + description_m + "</td> <td> - " + money_minus + "</td> <tr>");
        $("#total_budget").empty();
        $("#total_budget").append(new_budget);
        $("#description").val("");
        $("#money").val("");
      });
    });
  });

// Poll - add option
var i = 1;
$(function() {
    $(".add_option").click(function(){

     n = parseInt(this.value);// to use the value of '$n'
     n = n + i;
     i = i + 1;
      $.ajax({
        method: "get",
        url: "/home/add_option",

        success: function(){
          $("#option_div").append("<label for=\"option_" + n + "\">Option " + n + "</label>");
          $("#option_div").append("<input name=\"option_content_"
                                  + n + "\" id=\"option_" + n + "\"type=\"text\" class=\"input-box_text form-control\"/>");
        },
        error: function(){
          alert("ERROR!");
        }
      })
    });
});

  $(".search_member_name").keyup(function(){

        // Retrieve the input field text
        var filter = $(this).val().toLowerCase();

        $(".member-profile").hide();
        // Loop through the comment list
        $(".member .member-profile").each(function(){
          //get the name of each member
          var name = $(this).text().toLowerCase();

          // If the value matched show all the matching results
          if(name.indexOf(filter) != -1)
          {
            $(this).fadeIn();
          }
        });

    });

      //shown.bs.tab (on the newly-active just-shown tab, the same one as for the show.bs.tab event)
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('.calendar').fullCalendar('render');
});
</script>
