<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
  <a class="navbar-brand" href="/home/index">Brand</a>
  <ul class="nav navbar-nav">
    <li><a href="/home/profile">Profile</a></li>
    <li><a href="/home/my_friends">Friends</a></li>
    <li><a href="/rooms/show">Chat</a></li>
    <li><a href="/users/edit">Setting</a></li>
    <li><a href="/users/sign_out">Log Out</a></li>
  </ul>
</nav><br><br><br>
<h1><%= @group.name %></h1>
<div class ="container">
  <ul class ="nav nav-pills nav-justified">
    <li class="active"><a href="#Home" data-toggle="tab">Home</a></li>
    <li><a href="#Network" data-toggle="tab">Network</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="Home">
        <!-- Announcements -->
        <h1>Announcement</h1>
      <div id="announcement_carousel" data-wrap="true"  class="carousel slide" data-interval="false" data-ride="carousel">
       <ol class="carousel-indicators">
         <li data-target="#announcement_carousel" data-slide-to="0" class="active"></li>
         <li data-target="#announcement_carousel" data-slide-to="1"></li>
         <li data-target="#announcement_carousel" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner">
           <div class="item active">
             <center><img class="img-responsive" align="middle" src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/08/black-background-49.jpg" width="700" height="0" /></center>
             <div class="carousel-caption">
                <h3>4/13/17</h3>
                 <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
             </div>
           </div>
           <div class="item">
           <center><img class="img-responsive" align="middle" src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/08/black-background-49.jpg" width="700" height="400"/></center>
             <div class="carousel-caption">
                <h3>4/13/17</h3>
                 <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
             </div>
           </div>
           <div class="item">
           <center><img class="img-responsive" src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/08/black-background-49.jpg" width="700" height="400"/></center>
             <div class="carousel-caption">
                <h3>4/13/17</h3>
                 <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
             </div>
           </div>
      </div>
      <a href="#announcement_carousel" class="carousel-control left" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#announcement_carousel" class="carousel-control right" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      </div>
      <!-- Calendar -->
      <h1>Calendar</h1>
      <div class="calendar">
        <input name= "group_id" type="hidden" value= "<%= @group.id %>">
      </div>

      <!-- Budget Tracker -->
      <h1>Budget Tracker</h1>
      <form action= "/home/money_plus" method="POST">
        <!-- Pass current group id to controller -->
        <input name= "group_id" type="hidden" value= "<%= @group.id %>">
        <div class="form-group">
          <!-- Pass the amount to be added to budget to controller -->
          <input name= "money_plus" type="number" class="form-control" placeholder="$00.00">
        </div>
        <div class="form-group">
          <!-- Transaction Description, pass string to controller -->
          <input name= "description_p" type="text" class="form-control" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-default">Plus</button>
      </form>
      <form action= "/home/money_minus" method="POST">
        <!-- Pass current group id to controller -->
        <input name= "group_id" type="hidden" value= "<%= @group.id %>">
        <div class="form-group">
          <!-- Pass the amount to be subtracted from budget to controller -->
          <input name= "money_minus" type="number" class="form-control" placeholder="$00.00">
        </div>
        <div class="form-group">
          <!-- Transaction Description, pass string to controller -->
          <input name= "description_m" type="text" class="form-control" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-default">Minus</button>
      </form>
      <!-- Find Current Group's Budget -->
      <% Budget.where(group_id: @group.id).find do |b| %>
      <!-- Transaction records for that budget -->
        <% Transaction.where(budget_id: b.id).find_each do |t| %>
        <!-- If the transaction is revenue -->
          <% if t.pos_neg == true %>
            <p style="color: green"><%= t.value %></p>
            <p><%= t.description %></p>
          <% end %>
          <!-- If the transaction is debt -->
          <% if t.pos_neg == false %>
            <p style="color: red"><%= t.value %></p>
            <p><%= t.description %></p>
          <% end %>
        <% end %>
        <!-- Budget Balance -->
          <h3> <%= b.group_budget %> </h3>
      <% end %>
      <!-- Black Board -->
      <h1>Black Board</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_poll">Create Poll</button>
        <div class="modal fade" id="create_poll" tableindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
               <h5 class="modal-title">Create New Poll</h5>
             </div>
             <div class="modal-body">
               <ul class ="nav nav-pills nav-justified">
                 <li class="active"><a href="#Poll" data-toggle="tab">Poll</a></li>
                 <li><a href="#Range" data-toggle="tab">Members</a></li>
               </ul>
               <div class="tab-content">
                 <div class="tab-pane fade in active" id="Poll">
                   <form id = "form_poll" action="/home/new_poll" method="get">
                    <input name="poll_title" type="text" class="input-box_text" placeholder="Title"/><br>
                    <!-- Add div to let the ajax script know where to append new input field. -->
                    <div id = "option_div">
                      <!-- 2 options default-->
                      <% for i in 1..2 %>
                        <input name="option_content_<%= i %>"id="option_<%= i %>"type="text" class="input-box_text" placeholder="Option <%= i %>"/><br>
                      <% end %>
                    </div>
                    <button name="group_id" value="<%= @group.id %>" type="submit" class="btn btn-default">Create!</button>
                   </form>
                   <button value= "<%= $n %>" type="submit" class="btn btn-default add_option">Add an Option</button>
                 </div>
                 <div class="tab-pane fade in" id="Range">
                  All <br>
                  Current Members
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- Polls -->
       <% @poll.each do |p| %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#poll_<%= p.id %>"><%= p.title %></button>
        <!-- Create one Modal for each poll-->
        <div class="modal fade" id="poll_<%= p.id %>" tableindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
               <h5 class="modal-title"><%= p.title %></h5>
             </div>
             <div class="modal-body">
               <ul class ="nav nav-pills nav-justified">
                 <li class="active"><a href="#one_poll_<%= p.id %>" data-toggle="tab">Poll</a></li>
                 <li><a href="#Votes_<%= p.id %>" data-toggle="tab">Votes</a></li>
               </ul>
               <div class="tab-content">
                 <div class="tab-pane fade in active" id="one_poll_<%= p.id %>">
                   <!-- If user already voted -->
                   <% if Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).exists? %>
                     <form action="/home/option_cancel" method="get">
                     <% Option.where(poll_id: p.id).find_each do |o| %>
                      <div class="radio">
                        <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label> <strong><%= o.vote_number %></strong>
                      </div>
                     <% end %>
                     <!-- user cancels his/her vote -->
                     <button name="poll_id" value="<%= p.id %>" type="submit" class="btn btn-default">Cancel My Vote</button>
                     </form>
                     <form action="/home/delete_poll" method="get">
                       <button name="poll_id" value="<%= p.id %>" type="submit" class="btn btn-default">Close Poll</button>
                     </form>
                   <% else %>
                   <!-- If user has not voted or canceled -->
                     <form action="/home/option_select" method="get">
                       <% Option.where(poll_id: p.id).find_each do |o| %>
                        <div class="radio">
                          <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label> <strong><%= o.vote_number %></strong>
                        </div>
                       <% end %>
                       <button name="poll_id" value="<%= p.id %>"type="submit" class="btn btn-default">Vote!</button>
                     </form>
                     <form action="/home/delete_poll" method="get">
                       <button name="poll_id" value="<%= p.id %>" type="submit" class="btn btn-default">Close Poll</button>
                     </form>
                   <% end %>
                 </div>
                 <div class="tab-pane fade in" id="Votes_<%= p.id %>">
                   <!-- Find Options in this poll -->
                  <% Option.where(poll_id: p.id).find_each do |o| %>
                    <strong><%= o.content %></strong> <br>
                    <!-- Find the people who voted -->
                    <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                      <% User.where(id: pu.user_id).find_each do |voted_user| %>
                        <%= voted_user.first_name %> <%= voted_user.last_name %>
                      <% end %>
                      <br>
                    <% end %>
                    <% end %>
                    <strong><p>Not Voted</p></strong>
                    <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                      <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                        <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                          <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                        <% end %>
                        <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                          <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                        <% end %>
                      <% end %>
                    <% end %>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <% end %>

    </div>
    <div class="tab-pane fade in" id="Network">
      <!-- Friend List + Friend Requests -->
      <% GroupUser.where(group_id: @group.id).where.not(user_id: @user.id).find_each do |friends| %>
      <% User.where(id: friends.user_id).find_each do |friends_info| %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#user_profile_<%= friends_info.id %>"><%= friends_info.first_name %> <%= friends_info.last_name %></button>
          <div class="modal fade" id="user_profile_<%= friends_info.id %>" tableindex="-1" role="dialog">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
                 <h5 class="modal-title"><%= friends_info.first_name %>'s profile</h5>
               </div>
               <div class="modal-body">
                <ul class="list-group">
                  <li class="list-group-item">Name: <%= friends_info.first_name %> <%= friends_info.last_name %></li>
                  <li class="list-group-item">Email: <%= friends_info.email %></li>
                  <li class="list-group-item">School: <%= friends_info.school %></li>
                  <li class="list-group-item">Major: <%= friends_info.major %></li>
                  <li class="list-group-item">Class of Year: <%= friends_info.class_year %></li>
                  <li class="list-group-item">Company: <%= friends_info.company %> </li>
                </ul>
               </div>
               <div class="modal-footer">
                 <div class="input-box">
                   <input type="text" class="input-box_text" id="message_input"/>
                 </div>
                 <form action="/rooms/new_chat" method="get">
                  <input name= "group_id" type="hidden" value= "<%= @group.id %>">
                  <button name="friend_id" value= "<%= friends_info.id %>" type="submit" class="btn btn-default reply_submit">Submit</button>
                </form>
               </div>
             </div>
           </div>
         </div>
         <br>
      <% end %>
      <% end %>
    </div>
  </div>
</div>


<script>
var i = 1;
$(function() {
    $(".add_option").click(function(){
     n = parseInt(this.value);// to use the value of '$n'
     n = n + i;
     i = i + 1;
      $.ajax({
        method: "get",
        url: "/home/add_option",

        success: function(){

          $("#option_div").append("<input name=\"option_content_"
                                  + n + "\" id=\"option_" + n + "\"type=\"text\" class=\"input-box_text\" placeholder=\"Option "
                                  + n + "\"/><br>");
        },
        error: function(){
          alert("ERROR!");
        }
      })
    });
});
</script>
<!-- Create Group
<div id="divResult"></div>


<script type="text/javascript">
$(document).ready(function() {
  $("#connect").click(function() {
    result = $('input[type="radio"]:checked');
    email_two = this.value;
    email_one = current_user.email;
    group_name = <%= @group.name %>
    if(result.length > 0) {
      result.each(function() {
        resultString = $(this).val();
      });
        $('#divResult').html(resultString);
      message = resultString
    }
    else {
      alert("Choose an Option")
    }
    $.ajax({
      method: "get",
      url: "/home/connect"
      data: { email_one: email_one,
              email_two: email_two,
              group_name: group_name,
              message: message },

    success: function(){
          alert("successful")
        }
    })
  });
});
</script>
-->
