<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->

<div class ="container-fluid container-body">
  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.each do |user_groups| %>
            <li><div class="circle_<%= user_groups.color %>"></div><a href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Body-->
    <div class="col-md-7 board">
      <div id="group_profile">
        <img src="https://i1.sndcdn.com/artworks-000078815478-g59cab-t500x500.jpg" alt="group profile img" title="default profile image" style="border-radius: 50%;" width="100">
        <div class="group_profile_heading">
          <h3><%= @group.name %></h3>
          <p><%= @group.school %></p>
        </div>
        <p><%= @group.description %></p>
        <a href="/home/group_profile/<%= @group.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </div>
      <hr>

      <ul class ="nav nav-pills" id="feature-tabs">
        <li class="active" ><a href="#Announcement" data-toggle="tab">Announcement</a></li>
        <li><a href="#Calendar" data-toggle="tab">Calendar</a></li>
        <li><a href="#Poll" data-toggle="tab">Poll</a></li>
        <li><a href="#Files" data-toggle="tab">Files</a></li>
        <li><a href="#Budget" data-toggle="tab">Budget</a></li>
        <li><a href="#Members" data-toggle="tab">Member</a></li>
      </ul>

      <div class="tab-content">
        <!-- Announcements -->
        <div class="tab-pane active" id="Announcement">
          <!-- Make an announcement (visible only to admin) -->
            <% if @admin_user.admin == true %>
            <button data-toggle="modal" data-target="#post_announcement" class="btn" id="add_ann_btn"><i class="fa fa-plus" aria-hidden="true"></i>New Announcement</button>

            <!-- New Announcement Modal -->
            <div class="modal fade" id="post_announcement" tableindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="ann_popup_new">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Post New Announcement</h4>
                  </div>

                  <div class="modal-body">
                    <form action="/home/announcement" method="get">
                      <label>Title</label>
                      <input name="announcement_title" type="text" class="form-control"/>
                      <label>Content</label>
                      <textarea name="announcement_content" type="text" class="form-control"></textarea>
                      <label>Email</label>
                      <input name="announcement_email" type="email" value="<%= @group.email %>" class="form-control"/>
                      <input name="group_id" type="hidden" value="<%= @group.id %>">
                      <div class="popup-buttons">
                        <button name="post" value= "no_email" type="submit" class="btn">Post</button>
                        <button name="post" value= "send_email" type="submit" class="btn">Post and Send Email</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <% end %>

            <% unless @announcements.first == nil %>
              <div class="announcement_accordion" id="announcement_accordion">
                <% @announcements.each do |announcements| %>
                  <h3 class="group_announcement_title">
                    <%= announcements.title %> <%= announcements.created_at.strftime("%m/%d/%y  %l:%M %p") %>
                  </h3>

                  <!--Announcement Content-->
                  <p><%= announcements.content %></p>
                <% end %>
              </div><!--Announcement accordion-->

              <% else %>
                <div class="group_page_no_announcement">
                  <p>
                    There is no announcement in this group
                  </p>
                </div>
              <% end %>


        </div><!--Announcement tab-->

        <!-- Calendar -->
        <div class="tab-pane" id="Calendar">
          <div id="group_calendar" class="calendar">
            <input name= "group_id" type="hidden" value= "<%= @group.id %>">
            <div id="admin" data-admin="<%= @admin_user.admin %>"></div>
            <div id="event_type" data-type="<%= $type %>"></div>
          </div>
        </div>

        <!-- Files -->
        <div class="tab-pane" id="Files">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Modified</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div><!--Files tab-->

        <!-- Black Board -->
        <div class="tab-pane" id="Poll">
          <!-- Create Poll  -->
            <button data-toggle="modal" data-target="#create_poll" class="btn" id="add_poll_btn"><i class="fa fa-plus" aria-hidden="true"></i>New Poll</button>

            <!-- Create Poll Modal -->
            <div class="modal fade" id="create_poll" tableindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="poll_popup">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create New Poll</h4>
                  </div>
                  <div class="modal-body">
                    <form id = "form_poll" action="/home/new_poll" method="get">
                      <label>Title</label>
                      <input name="poll_title" type="text" class="input-box_text form-control"/>
                      <!-- Add div to let the ajax script know where to append new input field. -->
                      <% $n = 2 %>
                      <div id="option_div">
                      <!-- 2 options default-->
                        <% for i in 1..2 %>
                          <label for="option_<%= i %>">Option <%= i %></label>
                          <input name="option_content_<%= i %>" id="option_<%= i %>"type="text" class="input-box_text form-control"/>
                        <% end %>
                      </div>
                      <!--anonymous checkbox-->
                      <div class="checkbox">
                        <label><input name=anonymous type="checkbox" value="true">Anonymous?</label>
                      </div>
                      <div class="create_poll_btn">
                        <button name="group_id" value="<%= @group.id %>" type="submit" class="btn">Create!</button>
                      </div>
                    </form><!-- form_poll input-->

                    <!--Add an Option, Used Ajax. Look at script-->
                    <button value= "<%= $n %>" type="submit" class="btn add_option">Add an Option</button>
                  </div>
                </div>
              </div>
            </div>

          <!-- Polls -->
          <% unless @poll.first == nil %>
            <div class="poll_accordion" id="poll_accordion">
              <!-- Call all the polls in this group -->
              <% @poll.each do |p| %>
                <h3 class="group_poll_title">
                  <%= p.title %> <%= p.created_at.strftime("%m/%d/%y  %l:%M %p") %>
                </h3>
                <div class="group_poll_content">
                  <!-- Already voted? -->
                  <% if Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).exists? %>
                    <form action="/home/option_cancel" method="get">
                      <% Option.where(poll_id: p.id).find_each do |o| %>
                        <div class="radio">
                          <!-- Options -->
                          <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label> <strong><%= o.vote_number %></strong>
                        </div>
                      <% end %>
                      <!-- user cancels his/her vote -->
                      <button name="poll_id" value="<%= p.id %>" type="submit" class="btn btn-default">Cancel My Vote</button>
                    </form>

                      <!-- view stat -->
                      <button class="view_poll_stat_<%= p.id %>">View Detailed Stat</button>
                        <div class="poll_stat_<%= p.id %>">
                          <% Option.where(poll_id: p.id).find_each do |o| %>
                            <strong><%= o.content %></strong> <br>
                            <!-- Find the people who voted -->
                            <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                              <% User.where(id: pu.user_id).find_each do |voted_user| %>
                                <%= voted_user.first_name %> <%= voted_user.last_name %>
                              <% end %>
                            <% end %>
                          <% end %>

                          <!-- Find the people who have not voted -->
                            <strong><p>Not Voted</p></strong>
                            <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                              <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                                <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                                  <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                <% end %>
                                <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                                  <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                <% end %>
                              <% end %>
                            <% end %>
                        </div><!-- poll_stat -->

                        <script>
                          $(".poll_stat_<%= p.id %>").hide();

                          //view poll stat
                          $( function() {
                            $(".view_poll_stat_<%= p.id %>").click(function(){
                               $(".poll_stat_<%= p.id %>").toggle();
                           });
                           } );
                        </script>

                  <% else %><!-- Already voted? NO -->

                    <!-- then Vote -->
                    <form action="/home/option_select" method="get">
                      <% Option.where(poll_id: p.id).find_each do |o| %>
                        <div class="radio">
                          <!-- Options -->
                          <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label> <strong><%= o.vote_number %></strong>
                        </div>
                      <% end %>
                      <button name="poll_id" value="<%= p.id %>"type="submit" class="btn btn-default">Vote!</button>
                    </form><!-- Vote -->

                    <!-- view stat -->
                    <button class="view_poll_stat_<%= p.id %>">View Detailed Stat</button>
                      <div class="poll_stat_<%= p.id %>">
                        <% Option.where(poll_id: p.id).find_each do |o| %>
                          <strong><%= o.content %></strong> <br>
                          <!-- Find the people who voted -->
                          <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                            <% User.where(id: pu.user_id).find_each do |voted_user| %>
                              <%= voted_user.first_name %> <%= voted_user.last_name %>
                            <% end %>
                          <% end %>
                        <% end %>

                        <!-- Find the people who have not voted -->
                          <strong><p>Not Voted</p></strong>
                          <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                            <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                              <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                                <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                              <% end %>
                              <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                                <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                              <% end %>
                            <% end %>
                          <% end %>
                      </div><!-- poll_stat -->

                      <script>
                        $(".poll_stat_<%= p.id %>").hide();

                        //view poll stat
                        $( function() {
                          $(".view_poll_stat_<%= p.id %>").click(function(){
                             $(".poll_stat_<%= p.id %>").toggle();
                         });
                         } );
                      </script>

                  <% end %><!-- Polluser exists? -->

              </div><!-- group_poll_content -->
              <% end %><!-- Each Poll -->
            </div><!-- poll accordion -->

            <% else %>
              <div class="group_page_no_poll">
                <p>
                  There is no poll in this group
                </p>
              </div>
            <% end %>
        </div><!-- poll tab -->

        <!-- Budget Tracker -->
        <div class="tab-pane" id="Budget">
          <!-- Add transaction (visible only to admin) -->
          <% if @admin_user.admin == true %>
            <div id="budget_item_input">
              <input id="description" type="text" class="form-control" placeholder="Description">
              <input id="money" type="number" class="form-control" placeholder="$00.00">
              <button value="<%= @group.id %>" type="submit" class="btn money_plus_button"><i class="fa fa-plus" aria-hidden="true"></i></button>
              <button value="<%= @group.id %>" type="submit" class="btn money_minus_button"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </div>
          <% end %>

          <!-- Add div to let the ajax script know where to append new input field. -->
          <div id="transactions">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td></td>
                  <td style="text-align: center; font-weight: bold;">Total</td>
                  <td id="total_budget"><%= @budget.group_budget %></td>
                </tr>
              </tfoot>
              <tbody class= "each_transaction">
                <!-- Transaction records for this group -->
                <% Transaction.where(budget_id: @budget.id).find_each do |t| %>
                  <% if t.pos_neg == true %>
                    <tr class="revenue">
                      <td><%= t.created_at.strftime("%Y-%m-%d") %></td>
                      <td><%= t.description %></td>
                      <td>+ <%= t.value %></td>
                    </tr>
                  <% end %>
                  <% if t.pos_neg == false %>
                    <tr class="expense">
                      <td><%= t.created_at.strftime("%Y-%m-%d") %></td>
                      <td><%= t.description %></td>
                      <td>- <%= t.value %></td>
                    </tr>
                  <% end %>
                  <script>

                  </script>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Members -->
        <div class="tab-pane" id="Members">
          <label>Search by Name</label>
          <input type="text" class="text-input search_member_name" />

          <div id="members">
            <%= render partial: "member", locals: { member: @members } %>
          </div>
        </div><!--Members tab-->

      </div><!--tab content-->
    </div><!--col-md-7-->

    <div class="col-md-2">
    </div>

  </div><!--row-->
</div><!--container-->




<script>

//Group Calendar
var admin = $("#admin").data("admin");
var initialize_calendar;

  initialize_calendar = function() {
    $('.calendar').each(function(){
      var calendar = $(this);

      calendar.fullCalendar({
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'month, agendaWeek, agendaDay'
        },
        selectable: admin,
        selectHelper: true,
        editable: admin,
        eventLimit: true,
        droppable: admin,
        events: '/events.json',
        select: function(start, end) {
          $.getScript('/events/new', function() {
            $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
            date_range_picker();
            $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
            $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));

          });
          calendar.fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
        event_data = {
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
        },

        eventClick: function(event, jsEvent, view) {
       $.getScript(event.edit_url, function() {
         $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"));
         date_range_picker();
         $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
         $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
       });
     }
      });
    });
  };
$(document).on('turbolinks:load', initialize_calendar);




  //announcement accordion
  $( function() {
     $( ".announcement_accordion" ).accordion();
   } );

  //poll accordion
  $( function() {
    $( ".poll_accordion" ).accordion({
      heightStyle: "content"
    });
   } );

   var today = new Date();
   var dd = today.getDate();
   var mm = today.getMonth()+1; //January is 0!
   var yyyy = today.getFullYear();

   if(dd<10) {
       dd = '0'+dd
   }

   if(mm<10) {
       mm = '0'+mm
   }

   today = mm + '-' + dd + '-' + yyyy;

  //Budget - plus
  $(function() {
    $('.money_plus_button').click(function(){

      group_id = this.value;
      money_plus = $('#money').val();
      description_p = $('#description').val();

      $.ajax({
        method: "POST",
        url: '/home/money_plus',
        data: { group_id: group_id,
                money_plus: money_plus,
                description_p: description_p }

      }).done(function() {
        var old_budget = document.getElementById("total_budget").innerHTML;
        var new_budget = parseInt(old_budget) + parseInt(money_plus)
        $(".each_transaction").append("<tr class= 'revenue'> <td>" + today + "</td> <td>" + description_p + "</td> <td> + " + money_plus + "</td> <tr>");
        $("#total_budget").empty();
        $("#total_budget").append(new_budget);
        $("#description").val("");
        $("#money").val("");

      });



    });
  });
//Budget - minus
  $(function() {
    $('.money_minus_button').click(function(){

      group_id = this.value;
      money_minus = $('#money').val();
      description_m = $('#description').val();

      $.ajax({
        method: "POST",
        url: '/home/money_minus',
        data: { group_id: group_id,
                money_minus: money_minus,
                description_m: description_m }

      }).done(function() {
        var old_budget = document.getElementById("total_budget").innerHTML;
        var new_budget = parseInt(old_budget) - parseInt(money_minus)
        $(".each_transaction").append("<tr class= 'expense'> <td>" + today + "</td> <td>" + description_m + "</td> <td> - " + money_minus + "</td> <tr>");
        $("#total_budget").empty();
        $("#total_budget").append(new_budget);
        $("#description").val("");
        $("#money").val("");
      });
    });
  });

// Poll - add option
var i = 1;
$(function() {
    $(".add_option").click(function(){

     n = parseInt(this.value);// to use the value of '$n'
     n = n + i;
     i = i + 1;
      $.ajax({
        method: "get",
        url: "/home/add_option",

        success: function(){
          $("#option_div").append("<label for=\"option_" + n + "\">Option " + n + "</label>");
          $("#option_div").append("<input name=\"option_content_"
                                  + n + "\" id=\"option_" + n + "\"type=\"text\" class=\"input-box_text form-control\"/>");
        },
        error: function(){
          alert("ERROR!");
        }
      })
    });
});

  $(".search_member_name").keyup(function(){

        // Retrieve the input field text
        var filter = $(this).val().toLowerCase();

        $(".member-profile").hide();
        // Loop through the comment list
        $(".member .member-profile").each(function(){
          //get the name of each member
          var name = $(this).text().toLowerCase();

          // If the value matched show all the matching results
          if(name.indexOf(filter) != -1)
          {
            $(this).fadeIn();
          }
        });

    });

      //shown.bs.tab (on the newly-active just-shown tab, the same one as for the show.bs.tab event)
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('.calendar').fullCalendar('render');
});
</script>
