<!-- Welcome Message -->
<% if User.find_by_id(current_user.id).group_first_time == "yes" %>
  <script>
    jQuery(function(){
     jQuery('#welcome_message_btn').trigger('click');
    });
    var group_first_time = "no"

    $.ajax({
      method: "GET",
      url: '/home/group_page/<%= @group.id %>',
      data: { group_first_time: group_first_time }
    })
  </script>
  <button id="welcome_message_btn" data-toggle="modal" data-target="#welcome_message" class="btn"></button>
  <div class="modal fade" id="welcome_message" tableindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">This is Your First Group!<i style="margin-left: 5px" class="fa fa-users" aria-hidden="true"></i></h4>
        </div>
        <div class="modal-body" style="text-align: center;">
          This is <%= @group.name %>'s Page. <br />
          <br />
          You can view/manage <%= @group.name %>'s activities here. <br />
          <br />


        </div>
        <div class="modal-footer get-started" style="text-align: center;">
          <button data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">Sync</a>
      </div>

      <!--search bar-->
      <div class="col-md-5" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete="<%= groups_path %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Settings</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->

<div class ="container-fluid container-body">
  <div class="row">

    <div class="col-md-2 leftbar" style="height: 800px">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-tasks" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>My Schedule</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.where.not(group_id: 1).each do |user_groups| %>
            <% if user_groups.group_id == @group.id %>
              <li style="background-color: #DA413D;"><div class="circle_white"></div><a style="color: white;" href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
            <% else %>
              <li><div class="circle_<%= user_groups.color %>"></div><a href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Body-->
    <div class="col-md-10 board" style="padding: 0px">
      <div id="group_profile">
        <img src="<%= @group.image_url %>" alt="profile img" style="border-radius: 50%;" width="100">
        <div class="group_profile_heading">
          <h3><%= @group.name %></h3>
          <p><%= @group.school %></p>
          <a href="<%= @group.website_address %>"><%= @group.website_address %></a>
        </div>
        <p><%= @group.description %></p>
        <a href="/home/group_profile/<%= @group.id %>" id="group_setting"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <a href="/home/group_leave" id="group_leave" data-confirm="Are you sure you want to leave <%= @group.name %>?">Leave Group</a>
        <div class="filter-dropdown">
          <% if @user_groups.find_by(group_id: @group.id).sync == false %>
            <button style="outline: none;">Not Synced</button>
            <div class="filter-dropdown-content">
              <form action="/home/sync" method="get">
                <button type="submit">Sync!</button>
              </form>
            </div>
          <% else %>
            <button style="outline: none;"><i class="fa fa-check" aria-hidden="true"></i>Synced</button>
            <div class="filter-dropdown-content">
              <form action="/home/unsync" method="get">
                <button type="submit">Unsync</button>
              </form>
            </div>
          <% end %>
        </div>
        <ul class ="nav nav-pills" id="feature-tabs">
          <li class="active" ><a href="#Announcement" data-toggle="tab"><i class="fa fa-bullhorn" aria-hidden="true" style="margin-right: 5px"></i>Announcement</a></li>
          <li><a href="#Calendar" data-toggle="tab"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>Calendar</a></li>
          <li><a href="#Poll" data-toggle="tab"><i class="fa fa-bar-chart" aria-hidden="true" style="margin-right: 5px"></i>Poll</a></li>
          <li><a href="#Files" data-toggle="tab"><i class="fa fa-file-o" aria-hidden="true" style="margin-right: 5px"></i>Files</a></li>
          <li><a href="#Budget" data-toggle="tab"><i class="fa fa-usd" aria-hidden="true" style="margin-right: 5px"></i>Budget</a></li>
        </ul>
      </div>
    </div><!--col-md-10-->

    <div class="col-md-7" style="background-color: white; padding: 0px; height: 800px">
      <div class="group-page-tab-content">
        <div class="tab-content">
          <!-- Announcements -->
          <div class="tab-pane active" id="Announcement">
            <!-- Make an announcement (visible only to admin) -->

              <% if @admin_user.admin == true %>
                <%= link_to new_announcement_path, id: "new_announcement_link", remote: true do %>
                <button class="btn main-btn" id="add_ann_btn">
                  <i class="fa fa-plus" aria-hidden="true" style="margin-right: 4.5px"></i>
                  New
                </button>
                <% end %>
              <% end %>

              <br>
              <div id="announcements_board" style="margin-top: 15px">
                <ul class="nav nav-stacked">
                  <% @announcements.each do |announcements| %>
                    <li>
                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, announcements_path(announcements), method: :delete, data: {confirm: 'Would you like to delete this announcement?'}, remote: true, class: 'delete_ann', id: "del_ann_" + announcements.id.to_s %>
                      <a href="#ann_<%= announcements.id %>" data-toggle="tab">
                        <p class="announcement_list_title">
                          <%= announcements.title %>
                        </p>
                        <p class="announcement_list_date">
                          <%= announcements.created_at.in_time_zone($timezone) %>
                        </p>
                        <%= announcements.content.html_safe %>
                      </a>
                    </li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <% unless @announcements.first == nil %>
                    <% @announcements.each do |announcements| %>
                      <div class="tab-pane" id="ann_<%= announcements.id %>">
                        <h4><%= announcements.title %></h4>
                        <p>From: <%= User.find(Announcement.find(announcements.id).sender).first_name %> <%= User.find(Announcement.find(announcements.id).sender).last_name %></p>
                        <span class="announcement_tab_content_date"><%= announcements.created_at.in_time_zone($timezone).strftime("%B %e, %Y at %l:%M %p") %></span>
                        <div class="announcement_tab_content_content"><%= sanitize(announcements.content) %></div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="tab-pane">
                      <h4>Welcome!</h4>
                      <p>From: Team Sync</p>
                      <div class="announcement_tab_content_content">This group doesn't have any announcement.</div>
                    </div>
                  <% end %>
                </div>
              </div>
              <script>
                $(function(){
                  $('#announcements_board ul li:first-child').addClass("active");
                  $('#announcements_board .tab-content .tab-pane:first-child').addClass("active");
                });
              </script>
          </div><!--Announcement tab-->

          <!-- Calendar -->
          <div class="tab-pane" id="Calendar" style="margin-top: 49px">
            <div id="group_calendar" class="calendar">
              <input name= "group_id" type="hidden" value= "<%= @group.id %>">
              <div id="admin" data-admin="<%= @admin_user.admin %>"></div>
              <div id="event_type" data-type="<%= $type %>"></div>
            </div>
          </div>

          <!-- Files -->
          <div class="tab-pane" id="Files">
            <div id="file_board">
              <% if @admin_user.admin == true %>
              <form action="/home/file_upload" method="post" enctype="multipart/form-data">
                <input name="group_id" type="hidden" value="<%= @group.id %>">
                <input name="file_name" id="file_name" type="hidden" value="">
                <label for="group_file" class="btn"><i class="fa fa-upload" aria-hidden="true"></i> Choose file</label>
                <input type="file" id="group_file" name="file" multiple>
                <button type="submit" class="btn">Upload</button>
              </form>
              <% end %>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% unless @files == nil %>
                    <% @files.each do |f| %>
                      <tr>
                        <td><a href="<%= f.file_url %>"><%= f.filename %></a></td>
                        <td><%= f.created_at.strftime("%Y-%m-%d") %></td>
                        <td><a href="/destroy_file/<%= f.id %>">Delete</a></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <script>
              $(function(){
                $('#group_file').change(function() {
                  var i = $(this).prev('label').clone();
                  var file = $('#group_file')[0].files[0].name;
                  document.getElementById("file_name").value = file;
                  if (file.length > 20) {
                    file = file.substr(0, 10) + "..." + file.substr(file.length-6, file.length);
                  }
                  $(this).prev('label').text(file);
                });
              });
            </script>
          </div><!--Files tab-->

          <!-- Black Board -->
          <div class="tab-pane" id="Poll">
            <!-- Create Poll  -->
            <% if @admin_user.admin == true %>
              <button data-toggle="modal" data-target="#create_poll" class="btn" id="add_poll_btn" style="outline: none;"><i class="fa fa-plus" aria-hidden="true"></i>New</button>

              <!-- Create Poll Modal -->
              <div class="modal fade" id="create_poll" tableindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" id="poll_popup">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title">Create New Poll</h4>
                    </div>
                    <div class="modal-body">
                      <form id="form_poll" action="/home/new_poll" method="get" data-remote="true">
                        <label>Title</label>
                        <input name="poll_title" type="text" class="input-box_text form-control"/>
                        <!-- Add div to let the ajax script know where to append new input field. -->
                        <% $n = 2 %>
                        <div id="option_div">
                        <!-- 2 options default-->
                          <% for i in 1..2 %>
                            <label for="option_<%= i %>">Option <%= i %></label>
                            <input name="option_content_<%= i %>" id="option_<%= i %>"type="text" class="input-box_text form-control"/>
                          <% end %>
                        </div>
                        <!--anonymous checkbox-->
                        <div class="checkbox">
                          <label><input name=anonymous type="checkbox" value="true">Anonymous?</label>
                        </div>
                        <div class="create_poll_btn">
                          <button name="group_id" value="<%= @group.id %>" type="submit" class="btn">Create!</button>
                        </div>
                      </form><!-- form_poll input-->

                      <!--Add an Option, Used Ajax. Look at script-->
                      <button value= "<%= $n %>" type="submit" class="btn add_option">Add an Option</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <!-- Polls -->

              <div id="poll_board" style="margin-top: 15px">
                <ul class="nav nav-stacked">
                  <% @poll.each do |p| %>
                    <li>
                      <%= link_to '<i class="fa fa-times"></i>'.html_safe, p_path(p), method: :delete, data: {confirm: 'Would you like to delete this poll?'}, remote: true, class: 'delete_poll', id: "del_poll_" + p.id.to_s %>
                      <a href="#poll_<%= p.id %>" data-toggle="tab">
                        <p class="poll_list_title">
                          Q: <%= p.title %>
                        </p>
                        <p class="poll_list_answer">
                          <% if Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).exists? %>
                            A: <%= Option.find(Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).first.option_id).content %>
                          <% end %>
                        </p>
                        <p class="poll_list_date">
                          <%= p.created_at.in_time_zone($timezone) %>
                        </p>
                      </a>
                    </li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <% unless @poll.first == nil %>
                  <% @poll.each do |p| %>
                    <div class="tab-pane" id="poll_<%= p.id %>">
                      <h4><%= p.title %></h4>
                      <p>From: <%= User.find(Poll.find(p.id).sender).first_name %> <span style="text-transform: capitalize"><%= User.find(Poll.find(p.id).sender).last_name %></span></p>
                      <span class="poll_tab_content_date"><%= p.created_at.in_time_zone($timezone).strftime("%B %e, %Y at %l:%M %p") %></span> <!--%l:%M %p-->
                      <!-- Already voted -->
                      <% if Polluser.where(user_id: @user.id).where(poll_id: p.id).where(voted: true).exists? %>
                        <div class="already-voted">
                          <form action="/home/option_cancel" method="get" data-remote="true" id="form_cancel_<%= p.id %>">
                            <% Option.where(poll_id: p.id).find_each do |o| %>
                              <div class="radio">
                                <!-- Options -->
                                <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                              </div>
                            <% end %>
                            <!-- user cancels his/her vote -->
                            <button name="poll_id" value="<%= p.id %>" type="submit" class="btn">Cancel My Vote</button>
                          </form>

                          <form style="display: none;" action="/home/option_select" method="get" data-remote="true" id="form_vote_<%= p.id %>">
                            <% Option.where(poll_id: p.id).find_each do |o| %>
                              <div class="radio">
                                <!-- Options -->
                                <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                              </div>
                            <% end %>
                            <button name="poll_id" value="<%= p.id %>" type="submit" class="btn">Vote!</button>
                          </form>

                          <div class="poll_stat_<%= p.id %>">
                            <% Option.where(poll_id: p.id).find_each do |o| %>
                              <p class="view_stat_options"><%= o.content %> <span style="color: #DA413D;" id="<%= p.id %>_option_<%= o.id %>_count"><%= o.vote_number %></span></p>
                              <!-- Find the people who voted -->
                              <div class="view_stat_options_votes" id="<%= p.id %>_option_<%= o.id %>_names">
                                <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                                  <% User.where(id: pu.user_id).find_each do |voted_user| %>
                                    <div id="voter_<%= pu.user_id %>"><%= voted_user.first_name %> <%= voted_user.last_name %></div>
                                  <% end %>
                                <% end %>
                              </div>
                            <% end %>

                            <!-- Find the people who have not voted -->
                            <p class="view_stat_options">Not Voted</p>
                            <div class="view_stat_options_votes" id="not_voted_<%= p.id %>">
                              <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                                <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                                  <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                                    <div id="not_voted_user_<%= not_voted_user.id %>">
                                      <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                    </div>
                                  <% end %>
                                  <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                                    <div id="not_voted_user_<%= not_voted_user.id %>">
                                      <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                    </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                          </div><!-- poll_stat -->
                        </div>

                      <% else %><!-- Already voted? NO -->
                      <div class="not-voted">
                        <!-- then Vote -->
                        <form action="/home/option_select" method="get" data-remote="true" id="form_vote_<%= p.id %>">
                          <% Option.where(poll_id: p.id).find_each do |o| %>
                            <div class="radio">
                              <!-- Options -->
                              <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                            </div>
                          <% end %>
                          <button name="poll_id" value="<%= p.id %>" type="submit" class="btn">Vote!</button>
                        </form><!-- Vote -->

                        <form style="display: none;" action="/home/option_cancel" method="get" data-remote="true" id="form_cancel_<%= p.id %>">
                          <% Option.where(poll_id: p.id).find_each do |o| %>
                            <div class="radio">
                              <!-- Options -->
                              <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                            </div>
                          <% end %>
                          <!-- user cancels his/her vote -->
                          <button name="poll_id" value="<%= p.id %>" type="submit" class="btn">Cancel My Vote</button>
                        </form>

                        <div class="poll_stat_<%= p.id %>">
                          <% Option.where(poll_id: p.id).find_each do |o| %>
                            <p class="view_stat_options"><%= o.content %> <span style="color: #DA413D;" id="<%= p.id %>_option_<%= o.id %>_count"><%= o.vote_number %></span></p>
                            <!-- Find the people who voted -->
                            <div class="view_stat_options_votes" id="<%= p.id %>_option_<%= o.id %>_names">
                              <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                                <% User.where(id: pu.user_id).find_each do |voted_user| %>
                                  <div id="voter_<% pu.user_id %>"><%= voted_user.first_name %> <%= voted_user.last_name %></div>
                                <% end %>
                              <% end %>
                            </div>
                          <% end %>

                          <!-- Find the people who have not voted -->
                          <p class="view_stat_options">Not Voted</p>
                          <div class="view_stat_options_votes" id="not_voted_<%= p.id %>">
                            <% GroupUser.where(group_id: @group.id).find_each do |gr| %>
                              <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                                <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).exists? %>
                                  <div id="not_voted_user_<%= not_voted_user.id %>">
                                    <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                  </div>
                                <% end %>
                                <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: p.id).where(voted: false).exists? %>
                                  <div id="not_voted_user_<%= not_voted_user.id %>">
                                    <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div><!-- poll_stat -->
                      </div>
                      <% end %><!-- Polluser exists? -->

                    </div>
                  <% end %>
                  <% else %>
                    <div class="tab-pane">
                      <h4>Welcome!</h4>
                      <p>From: Team Sync</p>
                      <div class="announcement_tab_content_content" style="padding:20px;">This group doesn't have any poll.</div>
                    </div>
                  <% end %>
                </div>
                <script>
                  $(function(){
                    $('#poll_board ul li:first-child').addClass("active");
                    $('#poll_board .tab-content .tab-pane:first-child').addClass("active");
                  });
                </script>
              </div>


          </div><!-- poll tab -->

          <!-- Budget Tracker -->
          <div class="tab-pane" id="Budget">
            <!-- Add transaction (visible only to admin) -->
            <% if @admin_user.admin == true %>
              <div id="budget_item_input">
                <form method="get" action="/home/transaction" data-remote="true">
                  <input id="description" name="description" type="text" class="form-control" placeholder="Description">
                  <input id="money" name="money" type="number" class="form-control" placeholder="$00.00">
                  <input name="group_id" type="hidden" value="<%= @group.id %>">
                  <button name="transaction_type" value="plus" type="submit" class="btn money_plus_button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                  <button name="transaction_type" value="minus" type="submit" class="btn money_minus_button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </form>
              </div>
              <br />
            <% end %>

            <!-- Add div to let the ajax script know where to append new input field. -->
            <div id="transactions">
              <table class="table table-hover" style="float: left;">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td></td>
                    <td style="text-align: center; font-weight: bold;">Total</td>
                    <td id="total_budget"><%= @budget.group_budget %></td>
                  </tr>
                </tfoot>
                <tbody class= "each_transaction">
                  <!-- Transaction records for this group -->
                  <% Transaction.where(budget_id: @budget.id).find_each do |t| %>
                    <% if t.pos_neg == true %>
                      <tr class="revenue">
                        <td><%= t.created_at.in_time_zone($timezone).strftime("%m-%d-%Y") %></td>
                        <td><%= t.description %></td>
                        <td><span><%= t.value %></span>
                          <%= link_to '<i class="fa fa-times"></i>'.html_safe, t_path(t), method: :delete, data: {confirm: 'Would you like to delete this Transaction?'}, remote: true, class: 'delete_trans', id: 'del_trans_' + t.id.to_s %>
                        </td>
                      </tr>
                    <% end %>
                    <% if t.pos_neg == false %>
                      <tr class="expense">
                        <td><%= t.created_at.in_time_zone($timezone).strftime("%m-%d-%Y") %></td>
                        <td><%= t.description %></td>
                        <td><span><%= t.value %></span>
                          <%= link_to '<i class="fa fa-times"></i>'.html_safe, t_path(t), method: :delete, data: {confirm: 'Would you like to delete this Transaction?'}, remote: true, class: 'delete_trans', id: 'del_trans_' + t.id.to_s %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3" style="background-color: white; height: 800px">
      <div class="group-page-right-side">
        <div class="people">
          <label>ADMINS <span style="margin-left: 3px; color: #DA413D">(<%= @members.where(admin: true).count %>)</span></label>
          <hr style="margin-bottom: 15px; margin-top: 0px; width: 180px"/>
            <% @members.where(admin: true).each do |all_admins| %>
              <% User.where(id: all_admins.user_id).each do |admin| %>
                <div class="member-profile-pic" data-toggle="modal" data-target="#member_<%= admin.id %>">
                  <img src="<%= admin.image_url %>" alt="profile img" style="border-radius: 50%; margin-bottom: 30px" width="35px" >
                </div>

                <!--modal for each member-->
                <div class="modal fade" id="member_<%= admin.id %>" tableindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content member-profile-popup">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><%= admin.first_name %>'s profile</h4>
                      </div>
                      <div class="modal-body">
                        <div>
                          <img src="<%= admin.image_url %>" alt="profile img" style="border-radius: 50%;" width="100px">
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item">Name: <%= admin.first_name %> <%= admin.last_name %></li>
                          <li class="list-group-item">Email: <%= admin.email %></li>
                          <li class="list-group-item">School: <%= admin.school %></li>
                          <li class="list-group-item">Major: <%= admin.major %></li>
                          <li class="list-group-item">Class Year: <%= admin.class_year %></li>
                        </ul>
                      </div>
                    </div><!--modal content-->
                  </div><!--modal-dialog-->
                </div><!--modal fade-->

              <% end %>
            <% end %>
            <br />

          <label>MEMBERS<span style="margin-left: 3px; color: #DA413D">(<%= @members.where(admin: false).count %>)</span></label>
          <hr style="margin-bottom: 15px; margin-top: 0px; width: 180px"/>
            <% @members.where(admin: false).each do |all_members| %>
              <% User.where(id: all_members.user_id).each do |member| %>
                <div class="member-profile-pic" data-toggle="modal" data-target="#member_<%= member.id %>">
                  <img src="<%= member.image_url %>" alt="profile img" style="border-radius: 50%; margin-bottom: 30px" width="35px">
                </div>

                <!--modal for each member-->
                <div class="modal fade" id="member_<%= member.id %>" tableindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content member-profile-popup">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><%= member.first_name %>'s profile</h4>
                      </div>
                      <div class="modal-body">
                        <div>
                          <img src="<%= member.image_url %>" alt="profile img" style="border-radius: 50%;" width="100">
                        </div>
                        <ul class="list-group">
                          <li class="list-group-item">Name: <%= member.first_name %> <%= member.last_name %></li>
                          <li class="list-group-item">Email: <%= member.email %></li>
                          <li class="list-group-item">School: <%= member.school %></li>
                          <li class="list-group-item">Major: <%= member.major %></li>
                          <li class="list-group-item">Class Year: <%= member.class_year %></li>
                        </ul>
                        <% if @user_groups.where(group_id: @group.id).first.admin == true %>
                          <form method="get" action="/home/appoint_admin">
                            <input name="user_id" type="hidden" value="<%= member.id %>">
                            <button type="submit" class="btn main-btn" style="position: relative; left: 125px">Appoint Admin</button>
                          </form>
                        <% else %>
                        <% end %>
                      </div>
                    </div><!--modal content-->
                  </div><!--modal-dialog-->
                </div><!--modal fade-->

              <% end %>
            <% end %>
        </div>
      </div><!--right side-->
    </div>
</div><!--container-->




<script>
//momentjs-rails
$('.announcement_list_date').each(function() {
  this.textContent = moment(this.textContent).startOf('minute').fromNow();

});
$('.poll_list_date').each(function() {
  this.textContent = moment(this.textContent).startOf('minute').fromNow();

});
//Group Calendar
var admin = $("#admin").data("admin");
var initialize_calendar;

  initialize_calendar = function() {
    $('.calendar').each(function(){
      var calendar = $(this);

      calendar.fullCalendar({
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'month, agendaWeek, listWeek'
        },

        selectable: admin,
        selectHelper: true,
        editable: admin,
        eventLimit: true,
        droppable: admin,
        events: '/events.json',
        select: function(start, end) {
          $.getScript('/events/new', function() {
            if (start.hasTime())
            {
              $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
              $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
              $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
            }
            else {
              $('#event_date_range').val(moment(start).format("MM/DD/YYYY") + ' - ' + moment(end).format("MM/DD/YYYY"));
              $('.start_hidden').val(moment(start).format('YYYY-MM-DD'));
              $('.end_hidden').val(moment(end).format('YYYY-MM-DD'));

            }

          });
          calendar.fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
        event_data = {
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
        },

        eventClick: function(event, jsEvent, view) {
       $.getScript(event.edit_url, function() {
         $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"));
         date_range_picker();
         $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
         $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
       });
     }
      });
    });
  };
$(document).on('turbolinks:load', initialize_calendar);

   var today = new Date();
   var dd = today.getDate();
   var mm = today.getMonth()+1; //January is 0!
   var yyyy = today.getFullYear();

   if(dd<10) {
       dd = '0'+dd
   }

   if(mm<10) {
       mm = '0'+mm
   }

   today = mm + '-' + dd + '-' + yyyy;

// Poll - add option
var i = 1;
$(function() {
    $(".add_option").click(function(){

     n = parseInt(this.value);// to use the value of '$n'
     n = n + i;
     i = i + 1;
      $.ajax({
        method: "get",
        url: "/home/add_option",

        success: function(){
          $("#option_div").append("<label for=\"option_" + n + "\">Option " + n + "</label>");
          $("#option_div").append("<input name=\"option_content_"
                                  + n + "\" id=\"option_" + n + "\"type=\"text\" class=\"input-box_text form-control\"/>");
        },
        error: function(){
          alert("ERROR!");
        }
      })
    });
});

  $(".search_member_name").keyup(function(){

        // Retrieve the input field text
        var filter = $(this).val().toLowerCase();

        $(".member-profile").hide();
        // Loop through the comment list
        $(".member .member-profile").each(function(){
          //get the name of each member
          var name = $(this).text().toLowerCase();

          // If the value matched show all the matching results
          if(name.indexOf(filter) != -1)
          {
            $(this).fadeIn();
          }
        });

    });

      //shown.bs.tab (on the newly-active just-shown tab, the same one as for the show.bs.tab event)
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('.calendar').fullCalendar('render');
});

//search suggestions
$( function() {
  $( "#search_group" ).autocomplete({
    source: $( "#search_group" ).data('autocomplete')
  });
});

</script>
