<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user.first_name %> <%= @user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>

    </div>
  </div>
</nav><!-- Header End -->

<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">

    <div class="col-md-1">
    </div>

    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar</a></li>
      </ul>
      <hr>

      <ul class="leftbar-groups">
        <% unless @current_group_user == nil %>
          <% @current_group_user.each do |group_user| %>
            <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-7 board" style="padding-left: 20px;">
      <!-- Announcement Feed -->
      <div class="main_feed">
        <h4>Announcement</h4>
        <div class="main_feed_content">
          <% @ann_notification.each do |ann_notification| %>
            <% if ann_notification.read == false %>
              <div class="each_feed announcement_id_<%= ann_notification.id %>" data-toggle="modal" data-target="#announcement_modal_<%= ann_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: ann_notification.group_id).color %>"></div>
                  <p><%= ann_notification.title %></p>
                </div>
                <p class="each_feed_content"><%= ann_notification.content %></p>
                <p class="feed_date"><%= ann_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div><!-- each_feed -->
            <script>
              $(function() {
                $('.announcement_id_<%= ann_notification.id %>').click(function(){
                  var ann_notification_id = <%= ann_notification.id %>;

                  $.ajax({
                    method: "GET",
                    url: '/home/ann_read',
                    data: { ann_notification_id: ann_notification_id }

                  }).done(function() {
                    //not read --> read
                    $(".announcement_id_<%= ann_notification.id %>").css("background-color", "#d9d9d9");
                  });
                });
              });
            </script>

            <!-- unread -->
            <% else %>
              <div class="each_feed_read" data-toggle="modal" data-target="#announcement_modal_<%= ann_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: ann_notification.group_id).color %>"></div>
                  <p><%= ann_notification.title %></p>
                </div>
                <p class="each_feed_content"><%= ann_notification.content %></p>
                <p class="feed_date"><%= ann_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div><!-- each_feed -->
            <% end %>

            <!-- Modal -->
            <div id="announcement_modal_<%= ann_notification.id %>" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <!-- Header -->
                  <div class="modal-header">
                    <div class="circle_<%= @current_group_user.find_by(group_id: ann_notification.group_id).color %>"></div>
                    <p><%= ann_notification.title %></p>
                    <p class="feed_date"><%= ann_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
                  </div>

                  <!-- Body -->
                  <div class="modal-body">
                    <p class="each_feed_content"><%= ann_notification.content %></p>
                  </div>

                  <!-- Footer -->
                  <div class="modal-footer modal-footer--mine">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div><!-- main_feed_content -->
      </div><!-- main_feed -->

      <!-- Calendar Feed -->
      <div class="main_feed">
        <h4>Calendar</h4>
        <div class="main_feed_content">
          <% @cal_notification.each do |cal_notification| %>
            <% if cal_notification.read == false %>
              <div class="each_feed cal_id_<%= cal_notification.id %>" data-toggle="modal" data-target="#cal_modal_<%= cal_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                  <p><%= cal_notification.title %></p>
                </div>
                <p class="each_feed_content"><%= cal_notification.content %></p>
                <p class="feed_date"><%= cal_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div>
              <script>
                $(function() {
                  $('.cal_id_<%= cal_notification.id %>').click(function(){
                    var cal_notification_id = <%= cal_notification.id %>;

                    $.ajax({
                      method: "GET",
                      url: '/home/cal_read',
                      data: { cal_notification_id: cal_notification_id }

                    }).done(function() {
                      //not read --> read
                      $(".cal_id_<%= cal_notification.id %>").css("background-color", "#d9d9d9");
                    });
                  });
                });
              </script>
            <% else %>
              <div class="each_feed_read" data-toggle="modal" data-target="#cal_modal_<%= cal_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                  <p><%= cal_notification.title %></p>
                </div>
                <p class="each_feed_content"><%= cal_notification.content %></p>
                <p class="feed_date"><%= cal_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div><!-- each_feed -->
            <% end %>

            <!-- Modal -->
            <div id="cal_modal_<%= cal_notification.id %>" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <!-- Header -->
                  <div class="modal-header">
                    <div class="circle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                    <p><%= cal_notification.title %></p>
                    <p class="feed_date"><%= cal_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
                  </div>

                  <!-- Body -->
                  <div class="modal-body">
                    <p class="each_feed_content"><%= cal_notification.content %></p>
                  </div>

                  <!-- Footer -->
                  <div class="modal-footer modal-footer--mine">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div><!-- main_feed_content -->
      </div><!-- main_feed -->

      <!-- Poll Feed -->
      <div class="main_feed">
        <h4>Poll</h4>
        <div class="main_feed_content">
          <% @poll_notification.each do |poll_notification| %>
            <% if poll_notification.read == false %>
            <div class="each_feed poll_id_<%= poll_notification.id %>" data-toggle="modal" data-target="#poll_modal_<%= poll_notification.id %>">
              <div class="each_feed_title">
                <div class="circle_<%= @current_group_user.find_by(group_id: poll_notification.group_id).color %>"></div>
                <p><%= poll_notification.title %></p>
              </div>
              <p><i class="each_feed_content fa fa-times" aria-hidden="true"></i></p>
              <p class="feed_date"><%= poll_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
            </div>
            <script>
              $(function() {
                $('.poll_id_<%= poll_notification.id %>').click(function(){
                  var poll_notification_id = <%= poll_notification.id %>;

                  $.ajax({
                    method: "GET",
                    url: '/home/poll_read',
                    data: { poll_notification_id: poll_notification_id }

                  }).done(function() {

                    $(".poll_id_<%= poll_notification.id %>").css("background-color", "#d9d9d9");
                  });
                });
              });
            </script>

            <!-- read -->
            <% else %>
              <div class="each_feed_read" data-toggle="modal" data-target="#poll_modal_<%= poll_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: poll_notification.group_id).color %>"></div>
                  <p><%= poll_notification.title %></p>
                </div>
                <% if Polluser.where(user_id: current_user.id).where(poll_id: poll_notification.poll_id).where(voted: true).exists? %>
                  <p><i class="each_feed_content fa fa-check" aria-hidden="true"></i></p>
                <% else %>
                  <p><i class="each_feed_content fa fa-times" aria-hidden="true"></i></p>
                <% end %>
                <p class="feed_date"><%= poll_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div><!-- each_feed -->
            <% end %>

            <!-- Modal -->
            <div id="poll_modal_<%= poll_notification.id %>" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <!-- Header -->
                  <div class="modal-header">
                    <div class="circle_<%= @current_group_user.find_by(group_id: poll_notification.group_id).color %>"></div>
                    <p><%= poll_notification.title %></p>
                    <p class="feed_date"><%= poll_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
                  </div>

                  <!-- Body -->
                  <div class="modal-body">
                    <!-- If user already voted -->
                    <% if Polluser.where(user_id: current_user.id).where(poll_id: poll_notification.poll_id).where(voted: true).exists? %>
                      <form action="/home/option_cancel" method="get">
                        <% Option.where(poll_id: poll_notification.poll_id).find_each do |options| %>
                          <div class="radio">
                            <label><input type="radio" name="optradio" value="<%= options.id %>"><%= options.content %></label>
                          </div>
                        <% end %><!-- Option.where -->
                        <!-- user cancels his/her vote -->
                        <button name="poll_id" value="<%= poll_notification.poll_id %>" type="submit" class="btn">Cancel My Vote</button>
                      </form>

                    <% else %><!-- if user has not voted -->
                    <form action="/home/option_select" method="get">
                      <% Option.where(poll_id: poll_notification.poll_id).find_each do |options| %>
                        <div class="radio">
                          <label><input type="radio" name="optradio" value="<%= options.id %>"><%= options.content %></label>
                        </div>
                      <% end %><!-- Option.where -->
                      <button name="poll_id" value="<%= poll_notification.poll_id %>"type="submit" class="btn">Vote!</button>
                    </form>
                    <% end %><!-- if Polluser.where -->
                  </div><!-- modal-body -->

                  <!-- Footer -->
                  <div class="modal-footer modal-footer--mine">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <!-- Budget Feed -->
      <div class="main_feed">
        <h4>Budget</h4>
        <div class="main_feed_content">
          <% @budget_notification.each do |budget_notification| %>
            <% if budget_notification.read == false %>
              <div class="each_feed budget_id_<%= budget_notification.id %>" data-toggle="modal" data-target="#budget_modal_<%= budget_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: budget_notification.group_id).color %>"></div>
                  <p><%= budget_notification.content %></p>
                </div>
                <p class="each_feed_content">Paid?</p>
                <p class="feed_date"><%= budget_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div>

              <script>
                $(function() {
                  $('.budget_id_<%= budget_notification.id %>').click(function(){
                    var budget_notification_id = <%= budget_notification.id %>;

                    $.ajax({
                      method: "GET",
                      url: '/home/budget_read',
                      data: { budget_notification_id: budget_notification_id }

                    }).done(function() {
                      //not read --> read
                      $(".budget_id_<%= budget_notification.id %>").css("background-color", "#d9d9d9");
                    });
                  });
                });
              </script>
            <% else %>
              <div class="each_feed_read" data-toggle="modal" data-target="#budget_modal_<%= budget_notification.id %>">
                <div class="each_feed_title">
                  <div class="circle_<%= @current_group_user.find_by(group_id: budget_notification.group_id).color %>"></div>
                  <p><%= budget_notification.content %></p>
                </div>
                <p class="each_feed_content">Paid?</p>
                <p class="feed_date"><%= budget_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
              </div><!-- each_feed -->
            <% end %>

            <!-- Modal -->
            <div id="budget_modal_<%= budget_notification.id %>" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <!-- Header -->
                  <div class="modal-header">
                    <div class="circle_<%= @current_group_user.find_by(group_id: budget_notification.group_id).color %>"></div>
                    <p><%= budget_notification.content %></p>
                    <p class="feed_date"><%= budget_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
                  </div>

                  <!-- Body -->
                  <div class="modal-body">
                    <p class="each_feed_content"><%= budget_notification.content %></p>
                  </div>

                  <!-- Footer -->
                  <div class="modal-footer modal-footer--mine">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>

    </div><!--col-md-9-->

    <div class="col-md-2">
    </div>

  </div><!-- row -->
</div><!-- container-fluid container-body -->

<script>
//search suggestions
$( function() {
    $( "#search_group" ).autocomplete({
      source: $( "#search_group" ).data('autocomplete')
    });
  });



</script>
