<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home/index">Brand</a>
    <ul class="nav navbar-nav nav-icons">
      <li><a href="/home/profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
      <li><a href="/home/my_friends"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="/rooms/show"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="/home/setting"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="/users/sign_out"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>

<!-- Body -->
<div class="row" style="text-align:center">
  <!-- Left Bar -->
  <div class="col-md-2">
    <ul><h3><%= @user.first_name %></h3></ul>
    <ul><a href="/home/index">Board</a></ul>
    <ul>Calendar</ul>
    <ul>Groups <a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></ul>
    <% unless @current_group_user == nil %>
      <% @current_group_user.each do |group_user| %>
        <ul> <div class="circle_<%= group_user.color %>"></div> <a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %><a/> </ul>
      <% end %>
    <% end %>
  </div><!-- col-md-2 -->
  <br><br>

  <!-- Main/Board -->
  <div class="col-md-2">
    <!-- Announcement Feed -->
    <h3>Announcement</h3>
    <div class="main_feed">
      <% @ann_notification.each do |ann_notification| %>
        <div class="circle_<%= @current_group_user.find_by(group_id: ann_notification.group_id).color %>"></div>
        <h5 style="bold"><%= User.find(ann_notification.sender).first_name %> <%= User.find(ann_notification.sender).last_name %></h5>
        <p><%= ann_notification.title %></p>
        <p><%= ann_notification.content %></p>
        <p><%= ann_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <!-- Calendar Feed -->
    <h3>Calendar</h3>
    <div class="main_feed">
      <% @cal_notification.each do |cal_notification| %>
        <div class="circle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
        <h5 style="bold"><%= User.find(cal_notification.sender).first_name %> <%= User.find(cal_notification.sender).last_name %> invited you</h5>
        <p><%= cal_notification.title %></p>
        <p><%= cal_notification.content %></p>
        <p><%= cal_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <!-- Budget Feed -->
    <h3>Budget</h3>
    <div class="main_feed">
      <% @budget_notification.each do |budget_notification| %>
        <div class="circle_<%= @current_group_user.find_by(group_id: budget_notification.group_id).color %>"></div>
        <h5 style="bold"><%= User.find(budget_notification.sender).first_name %> <%= User.find(budget_notification.sender).last_name %> </h5>
        <p><%= budget_notification.content %></p>
        <p><%= budget_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <!-- Poll Feed -->
    <h3>Poll</h3>
    <div class="main_feed">
      <% @poll_notification.each do |poll_notification| %>
        <div class="circle_<%= @current_group_user.find_by(group_id: poll_notification.group_id).color %>"></div>
        <h5 style="bold"><%= User.find(poll_notification.sender).first_name %> <%= User.find(poll_notification.sender).last_name %> started the poll: </h5>
        <p><%= poll_notification.title %></p>
        <p><%= poll_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
      <% end %>
    </div>
  </div>
    <!-- right side bar -->
    <div class="col-md-2">
    </div><!-- col-md-1 -->

</div><!-- row -->
<div class="container" id="main-container">
  <p class="welcome col-md-offset-3 col-xs-offset-3">Welcome to Hive, <%= @user.first_name %>!</p>
  <br>
  <!-- Search Group -->
  <form action= "/home/search" method="post">
    <!-- Pass search words to controller -->
    <div class="row">
      <div class="input-group search-bar-custom col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
        <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
        </span>
      </div> <!--grid system-->
    </div> <!--row-->
  </form>
<div>
    <!-- list of searched groups -->
    <% @searched_groups.find_each do |g| %>
      <!-- Looks for already joined groups -->
      <% if GroupUser.where(group_id: g.id, user_id: @user.id).exists? %>
        <h4>Already Joined <%= g.name %></h4>
      <% else %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join_button_<%= g.id %>"><%= g.name %></button>
        <!-- Create modal for each group -->
        <div class="modal fade" id="join_button_<%= g.id %>" tableindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><%= g.name %></h5>
              </div>
              <div class="modal-body">
              <!-- Join Group -->
                <form action="/home/join_group/<%= g.id %>" method="post">
                  <input name= "group_pw" type="text" class="form-control" placeholder="Type in Password for this Group to Join">
                  <button type="submit" class="btn btn-default">Join</button>
                </form>
              </div>
            </div> <!--modal-content-->
          </div> <!--modal-dialog-->
        </div> <!--modal fade-->
      <% end %>
    <% end %>
  </div>

  <!-- Create Group-->
  <div style="text-align: center;">
    <a href="/home/create_group_view" id="create-group-link">Create Group!</a>
  </div>

  <!-- Display Current User's Groups-->
  <div class="my-groups">
    <% GroupUser.where(user_id: @user.id).find_each do |g| %>
      <%= Group.where(id: g.group_id).find_each do |gp| %>
      <button type="button" class="btn" id="group-link">
        <a href="/home/group_page/<%= gp.id %>" style="text-decoration: none;">
          <div class="group-prof-positioning">
            <div class="orientation-correcter">
              <div class="hex">
                <div>
                  <img src="https://www.petfinder.com/wp-content/uploads/2012/11/91615172-find-a-lump-on-cats-skin-632x475.jpg" alt="group img">
                </div>
              </div>
            </div>
            <p><%= gp.name %></p>
          </div>
        </a>
      </button>
      <% end %>
    <% end %>
  </div>
</div>

<script>
$( function() {
    $( "#search_group" ).autocomplete({
      source: $( "#search_group" ).data('autocomplete')
    });
  });
</script>
