<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>
      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
      <div class="col-md-5">
      </div>
      <div class="col-md-1">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user.first_name %> <%= @user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/home/setting" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>
    </div>
  </div>
</nav><!-- Header End -->

<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">
    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul>
        <li><%= @user.first_name %></li>
        <li><a href="/home/index">Board</a></li>
        <li>Calendar</li>
      </ul>
      <hr>
      <p>Groups <a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></p>
      <ul>
        <% unless @current_group_user == nil %>
          <% @current_group_user.each do |group_user| %>
            <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-10 board" style="padding-left: 0;">
      <!-- Announcement Feed -->
      <div class="main_feed">
        Announcement
        <% @ann_notification.each do |ann_notification| %>
          <div class="each_feed announcement">
            <div class="circle_<%= @current_group_user.find_by(group_id: ann_notification.group_id).color %>"></div>
            <h5 style="bold"><%= User.find(ann_notification.sender).first_name %> <%= User.find(ann_notification.sender).last_name %></h5>
            <p><%= ann_notification.title %></p>
            <p><%= ann_notification.content %></p>
            <p><%= ann_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
          </div>
        <% end %>
      </div>

      <!-- Calendar Feed -->
      <div class="main_feed">
        Calendar
        <% @cal_notification.each do |cal_notification| %>
          <div class="each_feed calendar">
            <div class="circle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
            <h5 style="bold"><%= User.find(cal_notification.sender).first_name %> <%= User.find(cal_notification.sender).last_name %> invited you</h5>
            <p><%= cal_notification.title %></p>
            <p><%= cal_notification.content %></p>
            <p><%= cal_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
          </div>
        <% end %>
      </div>

      <!-- Budget Feed -->
      <div class="main_feed">
        Budget
        <% @budget_notification.each do |budget_notification| %>
          <div class="each_feed budget">
            <div class="circle_<%= @current_group_user.find_by(group_id: budget_notification.group_id).color %>"></div>
            <h5 style="bold"><%= User.find(budget_notification.sender).first_name %> <%= User.find(budget_notification.sender).last_name %> </h5>
            <p><%= budget_notification.content %></p>
            <p><%= budget_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
          </div>
        <% end %>
      </div>

      <!-- Poll Feed -->
      <div class="main_feed">
        Poll
        <% @poll_notification.each do |poll_notification| %>
          <div class="each_feed poll">
            <div class="circle_<%= @current_group_user.find_by(group_id: poll_notification.group_id).color %>"></div>
            <h5 style="bold"><%= User.find(poll_notification.sender).first_name %> <%= User.find(poll_notification.sender).last_name %> started the poll: </h5>
            <p><%= poll_notification.title %></p>
            <p><%= poll_notification.created_at.strftime("%m/%d/%y  %l:%M %p") %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- row -->
</div><!-- container-fluid container-body -->

<script>
$( function() {
    $( "#search_group" ).autocomplete({
      source: $( "#search_group" ).data('autocomplete')
    });
  });
</script>
