<!-- Welcome Message -->
<% if User.find_by_id(current_user.id).index_first_time == "yes" %>
  <script>
    jQuery(function(){
     jQuery('#welcome_message_btn').trigger('click');
    });
    var index_first_time = "no"

    $.ajax({
      method: "GET",
      url: '/home/index',
      data: { index_first_time: index_first_time }
    })
  </script>

  <button id="welcome_message_btn" data-toggle="modal" data-target="#welcome_message" class="btn" type="hidden"></button>
  <div class="modal fade" id="welcome_message" tableindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">Welcome to Sync <%= current_user.first_name %>!<i style="margin-left: 5px" class="fa fa-smile-o" aria-hidden="true"></i></h4>
        </div>
        <div class="modal-body" style="text-align: center; font-size: 16px">

          Sync's goal is to help you stay <span style="font-size: 16px; font-family: Source Sans Pro Bold; ">updated</span>, <span style="font-size: 16px; font-family: Source Sans Pro Bold; ">organized</span>, and <span style="font-size: 16px; font-family: Source Sans Pro Bold; color: #DA413D;">SYNCED</span> with your student groups! <br /><br />

          Sync is primarily focused on <span style="font-size: 16px; font-family: Source Sans Pro Bold; ">Efficiency</span>, <span style="font-size: 16px; font-family: Source Sans Pro Bold; ">Utility</span>, and <span style="font-size: 16px; font-family: Source Sans Pro Bold; color: #DA413D;">Simplicity</span>. <br /><br />

          We work hard to make your life easy!

        </div>
        <div class="modal-footer get-started" style="text-align: center;">
          <button data-dismiss="modal">Get Started!</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">Sync</a>
      </div>

      <!--search bar-->
      <div class="col-md-5" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= groups_path %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Settings</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>

    </div>
  </div>
</nav><!-- Header End -->

<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">

    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li style="background-color: #DA413D;"><a href="/home/index" style="color: white"><i class="fa fa-tasks" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>My Schedule</a></li>
      </ul>
      <hr>

      <ul class="leftbar-groups">
        <% unless current_user.id == 1 %>
          <% unless @current_group_user == nil %>
            <% @current_group_user.where.not(group_id: 1).each do |group_user| %>
              <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
            <% end %>
          <% end %>
        <% else %>
          <% unless @current_group_user == nil %>
            <% @current_group_user.each do |group_user| %>
              <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-8 board" style="padding-right:0px">
      <div class="filter-row">
        <div class="filter-group-label">
          FILTER BY GROUP
        </div>
        <div class="filter-dropdown filter-group">
          <button class ="filter-dropdown-btn-group" style="outline: none;">All</button>
          <div class="filter-dropdown-content filter-drop-down-content-group">
            <p id="filter-group-all">
              All
            </p>
            <% unless @current_group_user == nil %>
              <% @current_group_user.where.not(group_id: 1).each do |group_user| %>
                <p id="filter-group-<%= group_user.group_id %>">
                  <span class="circle_<%= group_user.color %>"></span>
                  <%= Group.find(group_user.group_id).name %>
                </p>

                <script>
                  //filter by group
                  $( function() {
                    $("#filter-group-<%= group_user.group_id %>").click(function(){

                      var group_color = "<%= group_user.color %>";
                      if (group_color == "red")
                      {
                        var change_color = "#e60000";
                      }
                      else if (group_color == "orange")
                      {
                        var change_color = "#ffa64d";
                      }
                      else if (group_color == "yellow")
                      {
                        var change_color = "#ffdb4d";
                      }
                      else if (group_color == "green")
                      {
                        var change_color = "#77b756";
                      }
                      else if (group_color == "blue")
                      {
                        var change_color = "#2f77c0";
                      }
                      else if (group_color == "skyblue")
                      {
                        var change_color = "#66d9ff";
                      }
                      else
                      {
                        var change_color = "#aa80ff";
                      }


                      $(".feed").remove();
                      $('.nav-stacked').append(one_group_feed_<%= group_user.group_id %>);

                      if (feature_filter_switch == "Announcement")
                      {
                        $(".announcement_feed").fadeIn();
                        $(".poll_feed").hide();
                      }
                      else if (feature_filter_switch == "Poll")
                      {
                        $(".poll_feed").fadeIn();
                        $(".announcement_feed").hide();
                      }
                      else
                      {
                        $(".announcement_feed").fadeIn();
                        $(".poll_feed").fadeIn();
                      }

                      $('.filter-dropdown-btn-group').css("background-color", change_color);
                      $('.filter-dropdown-btn-group').css("color", change_color);
                      $('.filter-dropdown-btn-group').css("border-color", change_color);

                   });
                   } );
                </script>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="filter-feature-label">
          FILTER BY TYPE
        </div>
        <div class="filter-dropdown filter-feature">
          <button class ="filter-dropdown-btn-feature" style="outline: none;">All</button>
          <div class="filter-dropdown-content filter-drop-down-content-feature">
            <p id="filter-all">All</p>
            <p id="filter-announcement">Announcement</p>
            <p id="filter-poll">Poll</p>
          </div>
        </div>
      </div>

      <!-- Announcement Feed -->
        <div id="main_board">
          <ul class="nav nav-stacked">
            <% unless @all_notification.first == nil %>
              <% @all_notification.each do |all_notification| %>
                <% if all_notification.notification_type == 1 %>
                  <% if all_notification.read == false %>
                    <li class="feed announcement_feed announcement_<%= all_notification.announcement_id %> group_<%= all_notification.group_id %>">
                      <a href="#ann_<%= all_notification.announcement_id %>" data-toggle="tab">
                        <div class="rectangle_<%= @current_group_user.find_by(group_id: all_notification.group_id).color %>"></div>
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <div class="unread-notification announcement_unread-notification_<%= all_notification.announcement_id %>"></div>
                        <p class="announcement_list_title">
                          <%= all_notification.title %>
                        </p>
                        <p class="announcement_list_date">
                          <%= all_notification.created_at %>
                        </p>
                        <div><%= all_notification.content.html_safe %></div>
                      </a>
                    </li>

                    <script>
                    $(function() {
                      $('.announcement_<%= all_notification.announcement_id %>').click(function(){
                        var ann_notification_id = <%= all_notification.id %>;

                        $.ajax({
                          method: "GET",
                          url: '/home/ann_read',
                          data: { ann_notification_id: ann_notification_id }
                        }).done(function() {
                          //not read --> read
                          $('.announcement_unread-notification_<%= all_notification.announcement_id %>').hide();

                        });
                      });
                    });
                  </script>

                  <% else %><!-- read -->
                    <li class="feed announcement_feed announcement_<%= all_notification.announcement_id %> group_<%= all_notification.group_id %>">
                      <a href="#ann_<%= all_notification.announcement_id %>" data-toggle="tab">
                        <div class="rectangle_<%= @current_group_user.find_by(group_id: all_notification.group_id).color %>"></div>
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <p class="announcement_list_title">
                          <%= all_notification.title %>
                        </p>
                        <p class="announcement_list_date ">
                          <%= all_notification.created_at %>
                        </p>
                        <div><%= all_notification.content.html_safe %></div>
                      </a>
                    </li>
                  <% end %>

                <% elsif all_notification.notification_type == 2 %>
                  <% if all_notification.read == false %>
                    <li class="feed poll_feed poll_<%= all_notification.poll_id %> group_<%= all_notification.group_id %>">
                      <a href="#poll_<%= all_notification.poll_id %>" data-toggle="tab">
                        <div class="rectangle_<%= @current_group_user.find_by(group_id: all_notification.group_id).color %>"></div>
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <div class="unread-notification poll_unread-notification_<%= all_notification.poll_id %>"></div>
                        <p class="poll_list_title">
                          <%= all_notification.title %>
                        </p>
                        <p class="poll_list_answer">
                          <% if Polluser.where(user_id: @user.id).where(poll_id: all_notification.poll_id).where(voted: true).exists? %>
                            A: <%= Option.find(Polluser.where(user_id: @user.id).where(poll_id: all_notification.poll_id).where(voted: true).first.option_id).content %>
                          <% end %>
                        </p>
                        <p class="poll_list_date">
                          <%= all_notification.created_at %>
                        </p>
                      </a>
                    </li>

                    <script>
                      $(function() {
                        $('.poll_<%= all_notification.poll_id %>').click(function(){
                          var poll_notification_id = <%= all_notification.id %>;

                          $.ajax({
                            method: "GET",
                            url: '/home/poll_read',
                            data: { poll_notification_id: poll_notification_id }
                          }).done(function() {
                            $('.poll_unread-notification_<%= all_notification.poll_id %>').hide();
                          });
                        });
                      });
                    </script>

                  <% else %><!-- read -->
                    <li class="feed poll_feed poll_<%= all_notification.poll_id %> group_<%= all_notification.group_id %>">
                      <a href="#poll_<%= all_notification.poll_id %>" data-toggle="tab">
                        <div class="rectangle_<%= @current_group_user.find_by(group_id: all_notification.group_id).color %>"></div>
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <p class="poll_list_title">
                          <%= all_notification.title %>
                        </p>
                        <p class="poll_list_answer">
                          <% if Polluser.where(user_id: @user.id).where(poll_id: all_notification.poll_id).where(voted: true).exists? %>
                            A: <%= Option.find(Polluser.where(user_id: @user.id).where(poll_id: all_notification.poll_id).where(voted: true).first.option_id).content %>
                          <% end %>
                        </p>
                        <p class="poll_list_date">
                          <%= all_notification.created_at %>
                        </p>
                      </a>
                    </li>
                  <% end %>

                <% end %><!-- notification_type -->
              <% end %><!-- all_notification.each -->
            <% else %><!-- no feed to show -->
              <div class="no-feed-to-show">
                <p>
                  No Group Activity to Display
                </p>
              </div>
            <% end %>
          </ul>

          <div class="tab-content">
            <% @all_notification.each do |all_notification| %>
              <!-- Announcement Feed -->
              <% if all_notification.notification_type == 1 %>
                <div class="tab-pane" id="ann_<%= all_notification.announcement_id %>">
                  <h4><%= all_notification.title %></h4>
                  <p>From: <%= User.find(Annnoti.find_by(announcement_id: all_notification.announcement_id).sender).first_name %> <%= User.find(Annnoti.find_by(announcement_id: all_notification.announcement_id).sender).last_name %></p>
                  <span class="announcement_tab_content_date"><%= all_notification.created_at.in_time_zone($timezone).strftime("%B %e, %Y at %l:%M %p") %></span>
                  <div class="announcement_tab_content_content"><%= sanitize(all_notification.content) %></div>
                </div>

              <!-- Poll Feed -->
              <% elsif all_notification.notification_type == 2 %>
                <div class="tab-pane" id="poll_<%= all_notification.poll_id %>">
                  <h4><%= all_notification.title %></h4>
                  <p>From: <%= User.find(Pollnoti.find_by(poll_id: all_notification.poll_id).sender).first_name %> <span style="text-transform: capitalize"><%= User.find(Pollnoti.find_by(poll_id: all_notification.poll_id).sender).last_name %></span></p>
                  <span class="poll_tab_content_date"><%= all_notification.created_at.in_time_zone($timezone).strftime("%B %e, %Y at %l:%M %p") %></span>
                  <!-- Already voted -->
                  <% if Polluser.where(user_id: current_user.id).where(poll_id: all_notification.poll_id).where(voted: true).exists? %>
                    <div class="already-voted">
                      <form action="/home/option_cancel" method="get">
                        <% Option.where(poll_id: all_notification.poll_id).find_each do |o| %>
                          <div class="radio">
                            <!-- Options -->
                            <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                          </div>
                        <% end %>
                        <!-- user cancels his/her vote -->
                        <button name="poll_id" value="<%= all_notification.poll_id %>" type="submit" class="btn">Cancel My Vote</button>
                      </form>

                      <div class="poll_stat_<%= all_notification.poll_id %>">
                        <% Option.where(poll_id: all_notification.poll_id).find_each do |o| %>
                          <p class="view_stat_options"><%= o.content %> <span style="color: #DA413D;"><%= o.vote_number %></span></p>
                          <!-- Find the people who voted -->
                          <% unless Poll.find(all_notification.poll_id).anonymous == true %>
                            <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                              <% User.where(id: pu.user_id).find_each do |voted_user| %>
                                <div class="view_stat_options_votes">
                                  <%= voted_user.first_name %> <%= voted_user.last_name %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>

                        <!-- Find the people who have not voted -->
                        <% unless Poll.find(all_notification.poll_id).anonymous == true %>
                          <p class="view_stat_options">Not Voted</p>
                          <% GroupUser.where(group_id: all_notification.group_id).find_each do |gr| %>
                            <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                              <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: all_notification.poll_id).exists? %>
                                <div class="view_stat_options_votes">
                                  <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                </div>
                              <% end %>
                              <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: all_notification.poll_id).where(voted: false).exists? %>
                                <div class="view_stat_options_votes">
                                  <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div><!-- poll_stat -->

                    </div>

                  <% else %><!-- Already voted? NO -->
                  <div class="not-voted">
                    <!-- then Vote -->
                    <form action="/home/option_select" method="get">
                      <% Option.where(poll_id: all_notification.poll_id).find_each do |o| %>
                        <div class="radio">
                          <!-- Options -->
                          <label><input type="radio" name="optradio" value="<%= o.id %>"><%= o.content %></label>
                        </div>
                      <% end %>
                      <button name="poll_id" value="<%= all_notification.poll_id %>" type="submit" class="btn">Vote!</button>
                    </form><!-- Vote -->

                    <div class="poll_stat_<%= all_notification.id %>">
                      <% Option.where(poll_id: all_notification.poll_id).find_each do |o| %>
                        <p class="view_stat_options"><%= o.content %> <span style="color: #DA413D;"><%= o.vote_number %></span></p>
                        <!-- Find the people who voted -->
                        <% unless Poll.find(all_notification.poll_id).anonymous == true %>
                          <% Polluser.where(option_id: o.id).where(voted: true).find_each do |pu| %>
                            <% User.where(id: pu.user_id).find_each do |voted_user| %>
                              <div class="view_stat_options_votes">
                                <%= voted_user.first_name %> <%= voted_user.last_name %>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>

                      <!-- Find the people who have not voted -->
                      <% unless Poll.find(all_notification.poll_id).anonymous == true %>
                        <p class="view_stat_options">Not Voted</p>
                        <% GroupUser.where(group_id: all_notification.group_id).find_each do |gr| %>
                          <% User.where(id: gr.user_id).find_each do |not_voted_user| %>
                            <% if !Polluser.where(user_id: not_voted_user.id).where(poll_id: all_notification.poll_id).exists? %>
                              <div class="view_stat_options_votes">
                                <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                              </div>
                            <% end %>
                            <% if Polluser.where(user_id: not_voted_user.id).where(poll_id: all_notification.poll_id).where(voted: false).exists? %>
                              <div class="view_stat_options_votes">
                                <%= not_voted_user.first_name %> <%= not_voted_user.last_name %>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div><!-- poll_stat -->

                  </div>
                  <% end %><!-- Polluser exists? -->
                </div>
              <% end %>
            <% end %>
          </div>

          <script>
            $(function(){
              $('#main_board ul li:first-child').addClass("active");
              $('#main_board .tab-content .tab-pane:first-child').addClass("active");
            });
          </script>

        </div>

    </div><!--col-md-8-->

    <div class="col-md-2" style="background-color: white; height: 900px;">
      <div class="main-page-right-side">
        <p>Upcoming Events</p>
        <% unless Event.where(user_id: current_user.id).where(calendar_type: 0).first == nil %>
          <% Event.where(user_id: current_user.id).where(calendar_type: 0).each do |today_event| %>
            <% if Date.strptime(today_event.start.to_s, '%Y-%m-%d') == Date.strptime(Time.current.to_date.to_s, '%Y-%m-%d') %>
              <div class="one_today_event">
                <div style="width: 40px; height: 7px; border-radius: 15%; display: inline_block; background-color: <%= today_event.color %>"></div>
                <p class="today_event_title">
                  <%= today_event.title %>
                </p>
                <p class="today_event_timeleft">
                  <%= today_event.start %>
                </p>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p style="color:#716e77; margin-left: 10px;">
            No event today
          </p>
        <% end %>



      </div><!--right side-->
    </div><!-- row 2-->

  </div><!-- row -->
</div><!-- container-fluid container-body -->
<% @current_group_user.each do |group_user| %>
  <script>
    one_group_feed_<%= group_user.group_id %> = $('.group_<%= group_user.group_id %>');
  </script>
<% end %>

<script>
$('.announcement_list_date').each(function() {
  this.textContent = moment(this.textContent).startOf('minute').fromNow();
});
$('.poll_list_date').each(function() {
  this.textContent = moment(this.textContent).startOf('minute').fromNow();
});
//today's events
$('.today_event_timeleft').each(function() {

  var now = moment();
  var event = this.textContent.substring(0,37);

  this.textContent = moment(event).fromNow();
});
//for multiple filtering
feature_filter_switch = "All";
all_feed = $('.feed');

//filer by feature
$( function() {
  $("#filter-announcement").click(function(){

    $(".poll_feed").hide();
    $(".announcement_feed").fadeIn();
    $('.filter-dropdown-btn-feature').html('Announcement');
    feature_filter_switch = "Announcement";

 });
 } );

$( function() {
 $("#filter-poll").click(function(){

   $(".announcement_feed").hide();
    $(".poll_feed").fadeIn();
    $('.filter-dropdown-btn-feature').html('Poll');
    feature_filter_switch = "Poll";

});
} );

$( function() {
  $("#filter-all").click(function(){

    $(".announcement_feed").fadeIn();
    $(".poll_feed").fadeIn();

    feature_filter_switch = "All";
    $('.filter-dropdown-btn-feature').html('All');

 });
 } );
//filter by group (all)
$( function() {
  $("#filter-group-all").click(function(){

    $('.nav-stacked').append(all_feed);
    if (feature_filter_switch == "Announcement")
    {
      $(".announcement_feed").fadeIn();
      $(".poll_feed").hide();
    }
    else if (feature_filter_switch == "Poll")
    {
      $(".poll_feed").fadeIn();
      $(".announcement_feed").hide();
    }
    else
    {
      $(".announcement_feed").fadeIn();
      $(".poll_feed").fadeIn();
    }

    $('.filter-dropdown-btn-group').css('background-color', "white");
    $('.filter-dropdown-btn-group').css('border-color', "#DA413D");
    $('.filter-dropdown-btn-group').css('color', "#DA413D");

 });
 } );
//search suggestions
$( function() {
  $( "#search_group" ).autocomplete({
    source: $( "#search_group" ).data('autocomplete')
  });
});

//add event button success message popup
$( function() {
  $(".add_event_button").click(function(){
     alert("You have successfully added the event to your calendar!");
 });
 } );
</script>
