<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>

    </div>
  </div>
</nav><!-- Header End -->


<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">

    <div class="col-md-1">
    </div>

    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar</a></li>
      </ul>
      <hr>

      <ul class="leftbar-groups">
        <% unless @current_group_user == nil %>
          <% @current_group_user.each do |group_user| %>
            <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-6 board" style="padding-left: 20px;">
      <div class="my_calendar">
        <div id="event_type" data-type="<%= $type %>"></div>
      </div>
    </div><!--col-md-6-->

    <!-- Calendar Feed -->
    <div class="col-md-2">
      <div id="calendar_board">
        <% unless @cal_notification.first == nil %>
          <% @cal_notification.each do |cal_notification| %>
            <% if cal_notification.read == false %>
              <div class="one_event cal_<%= cal_notification.id %>">
                <div class="rectangle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                <div class="unread-notification unread-notification_<%= cal_notification.id %>"></div>
                <p class="one_event_title">
                  <%= cal_notification.title %>
                </p>
                <p class="one_event_content">
                  <%= cal_notification.description %>
                </p>
                <p class="one_event_start">
                  <span style="color: #d4624c">Start:</span> <%= cal_notification.start.strftime("%B %e, %Y at %l:%M %p") %>
                </p>
                <p class="one_event_end">
                  <span style="color: #d4624c">End:</span> <%= cal_notification.end.strftime("%B %e, %Y at %l:%M %p") %>
                </p>
                <form action="/home/add_event" method="post">
                  <input name="title" type="hidden" value="<%= cal_notification.title %>"/>
                  <input name="start" type="hidden" value="<%= cal_notification.start %>"/>
                  <input name="end" type="hidden" value="<%= cal_notification.end%>"/>
                  <input name="description" type="hidden" value="<%= cal_notification.description %>"/>
                  <input name="group_id" type="hidden" value="<%= cal_notification.group_id %>"/>
                  <button type="submit" class="btn add_event_button">Add to My Calendar</button>
                </form>
              </div>
              <hr />
              <script>
                $(function() {
                  $('.cal_<%= cal_notification.id %>').click(function(){
                    var cal_notification_id = <%= cal_notification.id %>;

                    $.ajax({
                      method: "GET",
                      url: '/home/cal_read',
                      data: { cal_notification_id: cal_notification_id }

                    }).done(function() {
                      //not read --> read
                      $('.unread-notification_<%= cal_notification.id %>').hide();
                    });
                  });
                });
              </script>
            <% else %>
              <div class="one_event cal_<%= cal_notification.id %>">
                <div class="rectangle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                <p class="one_event_title">
                  <%= cal_notification.title %>
                </p>
                <p class="one_event_content">
                  <%= cal_notification.description %>
                </p>
                <p class="one_event_start">
                  <span style="color: #d4624c">Start:</span> <%= cal_notification.start.strftime("%B %e, %Y at %l:%M %p") %>
                </p>
                <p class="one_event_end">
                  <span style="color: #d4624c">End:</span> <%= cal_notification.end.strftime("%B %e, %Y at %l:%M %p") %>
                </p>
                <form action="/home/add_event" method="post">
                  <input name="title" type="hidden" value="<%= cal_notification.title %>"/>
                  <input name="start" type="hidden" value="<%= cal_notification.start %>"/>
                  <input name="end" type="hidden" value="<%= cal_notification.end%>"/>
                  <input name="description" type="hidden" value="<%= cal_notification.description %>"/>
                  <input name="group_id" type="hidden" value="<%= cal_notification.group_id %>"/>
                  <button type="submit" class="btn add_event_button">Add to My Calendar</button>
                </form>
              </div>
              <hr />
            <% end %>
          <% end %>
        <% else %>
          <div class="no_feed_message">
            <p>
              No Group Event
            </p>
          </div>
        <% end %>
      </div><!-- calendar_board -->
    </div><!-- col-md-2-->

    <div class="col-md-1">
    </div>

  </div><!-- row -->
</div><!-- container-fluid container-body -->

<script>
// My Calendar
var initialize_calendar;

  initialize_calendar = function() {
    $('.my_calendar').each(function(){
      var calendar = $(this);

      calendar.fullCalendar({
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'month, agendaWeek, agendaDay'
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        droppable: true,
        events: '/events.json',
        select: function(start, end) {
          $.getScript('/events/new', function() {
            $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
            date_range_picker();
            $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
            $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));

          });
          calendar.fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
        event_data = {
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
        },

        eventClick: function(event, jsEvent, view) {
       $.getScript(event.edit_url, function() {
         $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"));
         date_range_picker();
         $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
         $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
       });
     }
      });
    });
  };
$(document).on('turbolinks:load', initialize_calendar);
</script>
