<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>

    </div>
  </div>
</nav><!-- Header End -->


<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">

    <div class="col-md-1">
    </div>

    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar</a></li>
      </ul>
      <hr>

      <ul class="leftbar-groups">
        <% unless @current_group_user == nil %>
          <% @current_group_user.each do |group_user| %>
            <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-7 board" style="padding-left: 20px;">
      <div class="my_calendar">
        <div id="event_type" data-type="<%= $type %>"></div>
      </div>
    </div><!--col-md-7-->



    <div class="col-md-2">
    </div>

  </div><!-- row -->
</div><!-- container-fluid container-body -->

<script>
// My Calendar
var initialize_calendar;

  initialize_calendar = function() {
    $('.my_calendar').each(function(){
      var calendar = $(this);

      calendar.fullCalendar({
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'month, agendaWeek, agendaDay'
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        droppable: true,
        events: '/events.json',
        select: function(start, end) {
          $.getScript('/events/new', function() {
            $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
            date_range_picker();
            $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
            $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));

          });
          calendar.fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
        event_data = {
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
        },

        eventClick: function(event, jsEvent, view) {
       $.getScript(event.edit_url, function() {
         $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"));
         date_range_picker();
         $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
         $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
       });
     }
      });
    });
  };
$(document).on('turbolinks:load', initialize_calendar);
</script>
