<!-- Welcome Message -->
<% if User.find_by_id(current_user.id).mycalendar_first_time == "yes" %>
  <script>
    jQuery(function(){
     jQuery('#welcome_message_btn').trigger('click');
    });
    var mycalendar_first_time = "no"

    $.ajax({
      method: "GET",
      url: '/home/my_calendar/',
      data: { mycalendar_first_time: mycalendar_first_time }
    })

  </script>
  <button id="welcome_message_btn" data-toggle="modal" data-target="#welcome_message" class="btn" type="hidden"></button>
  <div class="modal fade" id="welcome_message" tableindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="text-align: center;">This is Your Calendar!<i style="margin-left: 5px" class="fa fa-calendar" aria-hidden="true"></i></h4>
        </div>
        <div class="modal-body" style="text-align: center; font-size: 16px">

          Start your first "<span style="font-size: 16px; font-family: Source Sans Pro Bold; color: #DA413D;">SYNCED</span>" schedule!<br /><br />
          Balance multiple groups by adding different group events to your schedule! <br /><br />
          <%= image_tag("calendar-instruction.png", size: "300x200") %>


        </div>
        <div class="modal-footer get-started" style="text-align: center;">
          <button data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">Sync</a>
      </div>

      <!--search bar-->
      <div class="col-md-5" style="padding-left: 0;">
        <form action="/groups/index" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= groups_path %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Settings</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>

    </div>
  </div>
</nav><!-- Header End -->


<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">

    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-tasks" aria-hidden="true"></i>Board</a></li>
        <li style="background-color: #DA413D;"><a href="/home/my_calendar" style="color: white"><i class="fa fa-calendar" aria-hidden="true"></i>My Schedule</a></li>
      </ul>
      <hr>

      <ul class="leftbar-groups">
        <% unless @current_group_user == nil %>
          <% @current_group_user.where.not(group_id: 1).each do |group_user| %>
            <li><div class="circle_<%= group_user.color %>"></div><a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <hr />
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-7 board">
      <div class="my_calendar" style="margin-left: 70px; margin-right: 50px">
        <div id="event_type" data-type="<%= $type %>"></div>
      </div>
    </div><!--col-md-7-->

    <!-- Calendar Feed -->
    <div class="col-md-3" style="background-color: white; min-height: 710px;">

      <!-- Filter -->
      <div class="filter-dropdown calendar-filter-group">
        <button class ="calendar-filter-dropdown-btn-group">All</button>
        <div class="filter-dropdown-content">
          <p id="calendar-filter-group-all">
            All
          </p>
          <p id="calendar-filter-group-my">
            <%= current_user.first_name %> <%= current_user.last_name %>
          </p>
          <% unless @current_group_user == nil %>
            <% @current_group_user.where.not(group_id: 1).each do |group_user| %>
              <p id="calendar-filter-group-<%= group_user.group_id %>">
                <span class="circle_<%= group_user.color %>"></span>
                <%= Group.find(group_user.group_id).name %>
              </p>

              <script>
                //filter by group
                $( function() {
                  $("#calendar-filter-group-<%= group_user.group_id %>").click(function(){

                    var group_color = "<%= group_user.color %>";
                    if (group_color == "red")
                    {
                      var change_color = "#e60000";
                    }
                    else if (group_color == "orange")
                    {
                      var change_color = "#ffa64d";
                    }
                    else if (group_color == "yellow")
                    {
                      var change_color = "#ffdb4d";
                    }
                    else if (group_color == "green")
                    {
                      var change_color = "#77b756";
                    }
                    else if (group_color == "blue")
                    {
                      var change_color = "#2f77c0";
                    }
                    else if (group_color == "skyblue")
                    {
                      var change_color = "#66d9ff";
                    }
                    else
                    {
                      var change_color = "#aa80ff";
                    }


                    $(".one_event").remove();
                    $('#calendar_board').append(event_group_<%= group_user.group_id %>);

                    if (rsvp_filter_switch == "Added")
                    {
                      $(".added_event").fadeIn();
                      $(".not_added_event").hide();
                    }
                    else if (rsvp_filter_switch == "Not Added")
                    {
                      $(".not_added_event").fadeIn();
                      $(".added_event").hide();
                    }
                    else
                    {
                      $(".added_event").fadeIn();
                      $(".not_added_event").fadeIn();
                    }

                    $('.calendar-filter-dropdown-btn-group').css("background-color", change_color);
                    $('.calendar-filter-dropdown-btn-group').css("color", change_color);
                    $('.calendar-filter-dropdown-btn-group').css("border-color", change_color);

                 });
                 } );
              </script>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="filter-dropdown calendar-filter-rsvp">
        <button class ="calendar-filter-dropdown-btn-rsvp">All</button>
        <div class="filter-dropdown-content">
          <p id="filter-all">All</p>
          <p id="filter-added">Added</p>
          <p id="filter-notadded">Not Added</p>
        </div>
      </div>

      <div id="calendar_board">
        <% unless @cal_notification.first == nil %>
          <% @cal_notification.each do |cal_notification| %>
            <% if !Event.where(event_id: cal_notification.event_id).where(calendar_type: 0).where(user_id: cal_notification.receiver).exists? && cal_notification.group_id != 0 %>
              <div class="one_event cal_<%= cal_notification.event_id %> event_group_<%= cal_notification.group_id %> not_added_event">
                <div class="rectangle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                <i style="margin-left: 200px" class="fa fa-users" aria-hidden="true"></i>
                <p class="one_event_date">
                  <%= cal_notification.start.strftime("%b %e") %>
                </p>
                <hr style="margin-bottom: 5px;"/>
                <p class="one_event_title">
                  <%= cal_notification.title %>
                </p>
                <p class="one_event_content">
                  <%= cal_notification.description %>
                </p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p class="one_event_time">
                  <%= cal_notification.start.strftime("%l:%M %p") %> ~ <%= cal_notification.end.strftime("%l:%M %p") %>
                </p>
                <p class="one_event_timeleft">
                  <%= cal_notification.start %>
                </p>

                  <form action="/home/add_event" method="post">
                    <input name="title" type="hidden" value="<%= cal_notification.title %>"/>
                    <input name="start" type="hidden" value="<%= cal_notification.start %>"/>
                    <input name="end" type="hidden" value="<%= cal_notification.end%>"/>
                    <input name="description" type="hidden" value="<%= cal_notification.description %>"/>
                    <input name="group_id" type="hidden" value="<%= cal_notification.group_id %>"/>
                    <input name="event_id" type="hidden" value="<%= cal_notification.event_id %>"/>
                    <input name="color" type="hidden" value="<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"/>
                    <button type="submit" class="btn add_event_button">Add</button>
                  </form>

                  <div class="view-attending-members view-toggle-<%= cal_notification.event_id %>">
                    View Attendance
                  </div>
                  <ol class="attending-members-<%= cal_notification.event_id %>">
                    <% Eventuser.where(event_id: cal_notification.event_id).each do |attending_members| %>
                      <li>
                        <%= User.find(attending_members.user_id).first_name %> <%= User.find(attending_members.user_id).last_name %>
                      </li>
                    <% end %>
                  </ol>

                  <script>
                    //view attendance toggle
                    $( ".attending-members-<%= cal_notification.event_id %>" ).hide();
                    $( ".view-toggle-<%= cal_notification.event_id %>" ).click(function() {
                      $( ".attending-members-<%= cal_notification.event_id %>" ).toggle(300, function() {
                        // Animation complete.
                      });
                    });
                  </script>
              </div>
            <% else %>
              <div class="one_event cal_<%= cal_notification.event_id %> event_group_<%= cal_notification.group_id %> added_event">
                <% unless cal_notification.group_id == 0 %>
                  <div class="rectangle_<%= @current_group_user.find_by(group_id: cal_notification.group_id).color %>"></div>
                  <i style="margin-left: 200px" class="fa fa-users" aria-hidden="true"></i>
                <% else %>
                  <div style="width: 40px; height: 7px; border-radius: 15%; display: inline-block; background-color: <%= Event.find(cal_notification.event_id).color %>"></div>
                  <i style="margin-left: 200px" class="fa fa-user" aria-hidden="true"></i>
                <% end %>
                <p class="one_event_date">
                  <%= cal_notification.start.strftime("%b %e") %>
                </p>
                <hr style="margin-bottom: 5px;"/>
                <p class="one_event_title">
                  <%= cal_notification.title %>
                </p>
                <p class="one_event_content">
                  <%= cal_notification.description %>
                </p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p class="one_event_time">
                  <%= cal_notification.start.strftime("%l:%M %p") %> ~ <%= cal_notification.end.strftime("%l:%M %p") %>
                </p>
                <p class="one_event_timeleft">
                  <%= cal_notification.start %>
                </p>
                <% unless cal_notification.group_id == 0 %>
                  <form action="/home/cancel_event" method="get">
                    <input name="event_id" type="hidden" value="<%= cal_notification.event_id %>"/>
                    <button type="submit" class="btn add_event_button">Cancel</button>
                  </form>
                  <div class="view-attending-members view-toggle-<%= cal_notification.event_id %>">
                    View Attendance
                  </div>
                  <ol class="attending-members-<%= cal_notification.event_id %>">
                    <% Eventuser.where(event_id: cal_notification.event_id).each do |attending_members| %>
                      <li>
                        <%= User.find(attending_members.user_id).first_name %> <%= User.find(attending_members.user_id).last_name %>
                      </li>
                    <% end %>
                  </ol>
                <% else %>
                    <button id="delete_<%= cal_notification.id %>" class="main-btn" style="margin-left: 15px; padding: 4px 6px;">Delete</button>
                    <script>
                      $(function() {
                          $("#delete_<%= cal_notification.id %>").click(function(){

                            $.ajax({
                              method: "get",
                              url: "/home/my_event_delete",
                              data: { event_id: <%= cal_notification.event_id %>,
                                      calnoti_id: <%= cal_notification.id %> },

                              success: function(){
                                $(".cal_<%= cal_notification.event_id %>").remove();
                                //make event disappear too
                              }

                            })
                          });
                      });
                    </script>
                <% end %>
              </div>

              <script>
                //view attendance toggle
                $( ".attending-members-<%= cal_notification.event_id %>" ).hide();
                $( ".view-toggle-<%= cal_notification.event_id %>" ).click(function() {
                  $( ".attending-members-<%= cal_notification.event_id %>" ).toggle(300, function() {
                    // Animation complete.
                  });
                });
              </script>
            <% end %>
          <% end %>
        <% else %>
          <div class="no-feed-message">
            <p>
              No Group Event
            </p>
          </div>
        <% end %>
      </div><!-- calendar_board -->
    </div><!-- col-md-3-->

  </div><!-- row -->
</div><!-- container-fluid container-body -->

<!-- Need for filter by group -->
<% @current_group_user.each do |group_user| %>
  <script>
    event_group_<%= group_user.group_id %> = $('.event_group_<%= group_user.group_id %>');
  </script>
<% end %>


<script>
$('.one_event_timeleft').each(function() {

  this.textContent = moment(this.textContent).local().startOf('minute').fromNow();

});

//for multiple filtering
rsvp_filter_switch = "All";
all_feed = $('.one_event');
my_feed = $('.event_group_0');

//filter by group (all)
$( function() {
  $("#calendar-filter-group-all").click(function(){

    $('#calendar_board').append(all_feed);

    if (rsvp_filter_switch == "Added")
    {
      $(".added_event").fadeIn();
      $(".not_added_event").hide();
    }
    else if (rsvp_filter_switch == "Not Added")
    {
      $(".not_added_event").fadeIn();
      $(".added_event").hide();
    }
    else
    {
      $(".added_event").fadeIn();
      $(".not_added_event").fadeIn();
    }

    $('.calendar-filter-dropdown-btn-group').css('background-color', "white");
    $('.calendar-filter-dropdown-btn-group').css('color', "#DA413D");
    $('.calendar-filter-dropdown-btn-group').css('border-color', "#DA413D");
    $('.calendar-filter-dropdown-btn-group').html('All');

 });
 } )
 //filter by group (me)
 $( function() {
   $("#calendar-filter-group-my").click(function(){

     $(".one_event").remove();
     $('#calendar_board').append(my_feed);


     $('.calendar-filter-dropdown-btn-group').css('background-color', "white");
     $('.calendar-filter-dropdown-btn-group').css('color', "#DA413D");
     $('.calendar-filter-dropdown-btn-group').css('border-color', "#DA413D");
     $('.calendar-filter-dropdown-btn-group').html('My');
  });
  } )

 //filer by rsvp status
 $( function() {
   $("#filter-added").click(function(){

     $(".not_added_event").hide();
     $(".added_event").fadeIn();
     $('.calendar-filter-dropdown-btn-rsvp').html('Added');
     rsvp_filter_switch = "Added";

  });
  } );

 $( function() {
  $("#filter-notadded").click(function(){

    $(".added_event").hide();
     $(".not_added_event").fadeIn();
     $('.calendar-filter-dropdown-btn-rsvp').html('Not Added');
     rsvp_filter_switch = "Not Added";

 });
 } );

 $( function() {
   $("#filter-all").click(function(){

     $(".added_event").fadeIn();
     $(".not_added_event").fadeIn();

     rsvp_filter_switch = "All";
     $('.calendar-filter-dropdown-btn-rsvp').html('All');

  });
  } );


// My Calendar
var initialize_calendar;

  initialize_calendar = function() {
    $('.my_calendar').each(function(){
      var calendar = $(this);

      calendar.fullCalendar({
        header: {
          left: 'prev, next, today',
          center: 'title',
          right: 'month, agendaWeek, listWeek'
        },


        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        droppable: true,
        events: '/events.json',
        select: function(start, end) {
          $.getScript('/events/new', function() {
            if (start.hasTime())
            {
              $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"));
              $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
              $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
            }
            else {
              $('#event_date_range').val(moment(start).format("MM/DD/YYYY") + ' - ' + moment(end).format("MM/DD/YYYY"));
              $('.start_hidden').val(moment(start).format('YYYY-MM-DD'));
              $('.end_hidden').val(moment(end).format('YYYY-MM-DD'));
            }
          });

          calendar.fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
        event_data = {
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
              url: event.update_url,
              data: event_data,
              type: 'PATCH'
          });
        },

        eventClick: function(event, jsEvent, view) {
            var newEvent = $('.newww_event');
            $('.one_event').remove();
            $('#calendar_board').append(all_feed);
            $('#calendar_board').append(newEvent);
            $('.one_event').hide();

            if (event.event_type == 1)
            {
              $(".cal_" + event.event_id).fadeIn();
            }
            else
            {
              $(".cal_" + event.id).fadeIn();
            }

            rsvp_filter_switch = "All";


            $('.calendar-filter-dropdown-btn-group').css('color', "#DA413D");
            $('.calendar-filter-dropdown-btn-group').css('background-color', "white");
            $('.calendar-filter-dropdown-btn-group').css('border-color', "#DA413D");
            $('.calendar-filter-dropdown-btn-group').html('My');


       }
      });
    });
  };
$(document).on('turbolinks:load', initialize_calendar);



//search suggestions
$( function() {
  $( "#search_group" ).autocomplete({
    source: $( "#search_group" ).data('autocomplete')
  });
});

document.addEventListener("turbolinks:load", function() {
  my_func();
})
</script>
