$('#form_vote_<%= @p_id %>').hide();
$('#form_cancel_<%= @p_id %>').show();
$('#<%= @p_id %>_option_<%= @o_id %>_names').append("<div id='voter_<%= current_user.id %>'><%= current_user.first_name %> <%= current_user.last_name %></div>")
var vc = document.getElementById('<%= @p_id %>_option_<%= @o_id %>_count').innerHTML; //vote count
var nvc = parseInt(vc) + 1;
$('#<%= @p_id %>_option_<%= @o_id %>_count').text(nvc);
$('#not_voted_user_<%= current_user.id %>').remove();
