<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= @user.first_name %> <%= @user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->

<div class ="container-fluid container-body">
  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.each do |user_groups| %>
            <li><div class="circle_<%= user_groups.color %>"></div><a href="/home/group_page/<%= user_groups.group_id %>"><%= Group.find(user_groups.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create Group</a></p>
    </div><!-- leftbar End-->

    <div class="col-md-7 board">
      <ul class ="nav nav-pills" id="feature-tabs">
        <li class="active" id="profile-tab"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li id="preferences-tab"><a href="#preferences" data-toggle="tab">Preferences</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="profile">

          <div class="profile-label">
            UPDATE YOUR PROFILE
          </div>
          <hr>

          <form action="/home/profile_update" method="post" enctype="multipart/form-data" class="profile-pic-update-form">
            <div class="profile-image-update">
              <% if @user.image_url=="" %>
                <img src="http://www.sessionlogs.com/media/icons/defaultIcon.png" alt="profile img" title="default profile image" style="border-radius: 50%;" width="100">
              <% else %>
                <img src="<%= @user.image_url %>" alt="profile img">
              <% end %>
              <br>
              <label class="btn" for="profile-image-upload"><i class="fa fa-upload" aria-hidden="true"></i> Upload Photo</label>
              <input type="file" name="pic" accept="image/*" id="profile-image-upload">
            </div>
            <div class="profile-content">
              <div class="user-profile-field">
                <label for="user-first-name">First name</label><br>
                <input name= "user_first_name" id="user_first_name" type="text" class="form-control" value="<%= current_user.first_name %>">
              </div>

              <div class="user-profile-field">
                <label for="user-last-name">Last name</label><br>
                <input name= "user_last_name" id="user_last_name" type="text" class="form-control" value="<%= current_user.last_name %>">
              </div>

              <div class="user-profile-field">
                <label for="user-school">School</label><br>
                <input name= "user_school" id="user_school" type="text" class="form-control" value="<%= current_user.school %>">
              </div>

              <div class="user-profile-field">
                <label for="user-major">Major</label><br>
                <input name= "user_major" id="user_major" type="text" class="form-control" value="<%= current_user.major %>">
              </div>

              <div class="user-profile-field">
                <label for="user-classyear">Class of Year</label><br>
                <input name= "user_class_year" id="user_class_year" type="text" class="form-control" value="<%= current_user.class_year %>">
              </div>
              <button type="submit" class="btn" id="user-profile-update-btn">Save Changes</button>
            </div> <!-- profile-content -->
          </form>

        </div><!-- Profile tab -->

        <div class="tab-pane" id="preferences">
          <div class="preference_choose_color_label">
              CHOOSE A COLOR TO REPRESENT YOUR GROUP
          </div>
          <hr>
          <% @user_groups.each do |group_user| %>
            <div id="<%= group_user.group_id %>_color" class="circle_<%= group_user.color %>" style="width: 60px; height: 60px; margin-left: 5%"></div>
            <div class="preference_group_name"><%= Group.find(group_user.group_id).name %></div>
            <div class="change_color">
              <div class="circle_black circle_black_id_<%= group_user.group_id %>"></div>
              <div class="circle_blue circle_blue_id_<%= group_user.group_id %>"></div>
              <div class="circle_red circle_red_id_<%= group_user.group_id %>"></div>
              <div class="circle_green circle_green_id_<%= group_user.group_id %>"></div>
            </div>

              <hr>

              <script>
              //Change group_color to blue
                $(function() {
                  $('.circle_blue_id_<%= group_user.group_id %>').click(function(){
                    var new_color = "blue";
                    var group_id = <%= group_user.group_id %>;

                    $.ajax({
                      method: "POST",
                      url: '/home/group_color',
                      data: { new_color: new_color,
                              group_id: group_id }

                    }).done(function() {
                      $("#<%= group_user.group_id %>_color").attr('class', 'circle_blue');
                    });

                  });
                });

                //Change group_color to black
                $(function() {
                  $('.circle_black_id_<%= group_user.group_id %>').click(function(){
                    var new_color = "black";
                    var group_id = <%= group_user.group_id %>;

                    $.ajax({
                      method: "POST",
                      url: '/home/group_color',
                      data: { new_color: new_color,
                              group_id: group_id }

                    }).done(function() {
                      $("#<%= group_user.group_id %>_color").attr('class', 'circle_black');
                    });

                  });
                });

                //Change group_color to red
                $(function() {
                  $('.circle_red_id_<%= group_user.group_id %>').click(function(){
                    var new_color = "red";
                    var group_id = <%= group_user.group_id %>;

                    $.ajax({
                      method: "POST",
                      url: '/home/group_color',
                      data: { new_color: new_color,
                              group_id: group_id }

                    }).done(function() {
                      $("#<%= group_user.group_id %>_color").attr('class', 'circle_red');
                    });

                  });
                });

                //Change group_color to green
                $(function() {
                  $('.circle_green_id_<%= group_user.group_id %>').click(function(){
                    var new_color = "green";
                    var group_id = <%= group_user.group_id %>;

                    $.ajax({
                      method: "POST",
                      url: '/home/group_color',
                      data: { new_color: new_color,
                              group_id: group_id }

                    }).done(function() {
                      $("#<%= group_user.group_id %>_color").attr('class', 'circle_green');
                    });

                  });
                });
              </script>
          <% end %>
        </div><!--preferences tab-->
      </div><!--tab content-->

    </div><!--col-md-8-->

    <div class="col-md-2">
    </div>

  </div><!--row-->
</div><!--container-->
<script>
  $(function(){
    $('#profile-image-upload').change(function() {
      var i = $(this).prev('label').clone();
      var file = $('#profile-image-upload')[0].files[0].name;
      if (file.length > 20) {
        file = file.substr(0, 10) + "..." + file.substr(file.length-6, file.length);
      }
      $(this).prev('label').text(file);
    });
  });
</script>
