<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home/index">Brand</a>
    <ul class="nav navbar-nav nav-icons">
      <li class="current"><a href="/home/profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
      <li><a href="/home/my_friends"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="/rooms/show"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="/users/edit"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="/users/sign_out"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
<br><br><br><br>

<ul class ="nav nav-pills nav-justified">
  <li class="active" id="profile-tab"><a href="#profile" data-toggle="tab">Profile</a></li>
  <li id="preferences-tab"><a href="#preferences" data-toggle="tab">Preferences</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="profile">
    <div class="container">
      <div class="user-prof-positioning">
        <div class="orientation-correcter">
          <div class="hex">
            <div>
              <% unless @user.image_url.nil? %>
                <img src="<%= @user.image_url %>" alt="profile img">
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <form action="/uploadprofpic" method="POST" enctype="multipart/form-data" class="profile-pic-update-form">
        <input type="file" name="pic" accept="image/*">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <!--profile box-->
      <div class="profile-content">
        <a href="/users/edit"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
        <p>
          <%= @user.first_name %>
          <%= @user.last_name %>
        </p>
        <p><%= @user.email %></p>
        <p><%= @user.school %></p>
        <p><%= @user.major %></p>
        <p>Class of <%= @user.class_year %></p>
        <!-- Company: <%= @user.company %> <br> removed for now. will add back in the future-->
      </div>
    </div><!--container-->
  </div><!--profile tab-->

  <div class="tab-pane" id="preferences">
    <% @current_group_user.each do |group_user| %>
      <ul><%= Group.find(group_user.group_id).name %><div id="<%= group_user.group_id %>_color" class="circle_<%= group_user.color %>"></div></ul>
        <div class="change_color">
          <div class="circle_black circle_black_id_<%= group_user.group_id %>"></div>
          <div class="circle_blue circle_blue_id_<%= group_user.group_id %>"></div>
          <div class="circle_red circle_red_id_<%= group_user.group_id %>"></div>
          <div class="circle_green circle_green_id_<%= group_user.group_id %>"></div>
        </div>

        <script>
        //Change group_color to blue
          $(function() {
            $('.circle_blue_id_<%= group_user.group_id %>').click(function(){
              var new_color = "blue";
              var group_id = <%= group_user.group_id %>;

              $.ajax({
                method: "POST",
                url: '/home/group_color',
                data: { new_color: new_color,
                        group_id: group_id }

              }).done(function() {
                $("#<%= group_user.group_id %>_color").attr('class', 'circle_blue');
              });

            });
          });

          //Change group_color to black
          $(function() {
            $('.circle_black_id_<%= group_user.group_id %>').click(function(){
              var new_color = "black";
              var group_id = <%= group_user.group_id %>;

              $.ajax({
                method: "POST",
                url: '/home/group_color',
                data: { new_color: new_color,
                        group_id: group_id }

              }).done(function() {
                $("#<%= group_user.group_id %>_color").attr('class', 'circle_black');
              });

            });
          });

          //Change group_color to red
          $(function() {
            $('.circle_red_id_<%= group_user.group_id %>').click(function(){
              var new_color = "red";
              var group_id = <%= group_user.group_id %>;

              $.ajax({
                method: "POST",
                url: '/home/group_color',
                data: { new_color: new_color,
                        group_id: group_id }

              }).done(function() {
                $("#<%= group_user.group_id %>_color").attr('class', 'circle_red');
              });

            });
          });

          //Change group_color to green
          $(function() {
            $('.circle_green_id_<%= group_user.group_id %>').click(function(){
              var new_color = "green";
              var group_id = <%= group_user.group_id %>;

              $.ajax({
                method: "POST",
                url: '/home/group_color',
                data: { new_color: new_color,
                        group_id: group_id }

              }).done(function() {
                $("#<%= group_user.group_id %>_color").attr('class', 'circle_green');
              });

            });
          });
        </script>
    <% end %>
  </div><!--preferences tab-->
</div><!--tab content-->

<script>



</script>
