<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-custom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-1">
      </div>

      <div class="col-md-2">
        <a class="navbar-brand" href="/home/index">H I V E</a>
      </div>

      <!--search bar-->
      <div class="col-md-4" style="padding-left: 0;">
        <form action="/home/search" method="get">
          <!-- Pass search words to controller -->
          <input id="search_group" name= "search_group" type="text" class="form-control" data-autocomplete= "<%= Group.order(:name).map(&:name) %>" placeholder="Search Your Group">
          <button type="submit" class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-3">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name %> <%= current_user.last_name%>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="/home/profile" class="dropdown-item">Edit Profile</a>
          <a href="/users/edit" class="dropdown-item">Setting</a>
          <a href="/users/sign_out" class="dropdown-item">Sign Out</a>
        </div>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>
</nav><!-- Header End -->
<!-- Body -->
<div class="container-fluid container-body">
  <div class="row">

    <div class="col-md-1">
    </div>

    <!-- Left Bar -->
    <div class="col-md-2 leftbar">
      <ul class="leftbar-personal">
        <li><a href="/home/index"><i class="fa fa-server" aria-hidden="true"></i>Board</a></li>
        <li><a href="/home/my_calendar"><i class="fa fa-calendar" aria-hidden="true"></i>Calendar</a></li>
      </ul>
      <hr>
      <ul class="leftbar-groups">
        <% unless @user_groups == nil %>
          <% @user_groups.each do |group_user| %>
            <li><div class="circle_<%= group_user.color %>"></div> <a href="/home/group_page/<%= group_user.group_id %>"><%= Group.find(group_user.group_id).name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <p><a href="/home/create_group_view"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> Create Group </p>
    </div><!-- leftbar End-->

    <!-- Main/Board -->
    <div class="col-md-7 board" style="padding-left: 0;">
      <!-- list of searched groups -->
      <% unless @searched_groups == nil %>
        <% @searched_groups.find_each do |g| %>
          <!-- Looks for already joined groups -->
          <% unless GroupUser.where(group_id: g.id, user_id: current_user.id).exists? %>
            <div class="searched_groups_profile">
              <% if g.image_url=="" %>
                <img src="https://i1.sndcdn.com/artworks-000078815478-g59cab-t500x500.jpg" alt="group profile img" title="default profile image" style="border-radius: 50%;" width="100">
              <% else %>
                <img src="<%= g.image_url %>" alt="group profile img" style="border-radius: 50%;" width="100">
              <% end %>
              <div class="group_profile_heading">
                <h3><%= g.name %></h3>
                <p><%= g.school %></p>
              </div>
              <p><%= g.description %></p>
              <button class="btn" type="button" data-toggle="modal" data-target="#join_button_<%= g.id %>" style="outline: none;">
                Join
              </button>
            </div>
            <hr>
          <% else %>
            <div class="searched_groups_profile">
              <% if g.image_url=="" %>
                <img src="https://i1.sndcdn.com/artworks-000078815478-g59cab-t500x500.jpg" alt="group profile img" title="default profile image" style="border-radius: 50%;" width="100">
              <% else %>
                <img src="<%= g.image_url %>" alt="group profile img" style="border-radius: 50%;" width="100">
              <% end %>
              <div class="group_profile_heading">
                <h3><%= g.name %></h3>
                <p><%= g.school %></p>
              </div>
              <p><%= g.description %></p>
              <u>Joined</u>
            </div>
            <hr>
            <!-- Create modal for each group -->
            <div class="modal fade" id="join_button_<%= g.id %>" tableindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="join_group_popup">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Join <%= g.name %></h4>
                  </div>
                  <div class="modal-body">
                  <!-- Join Group -->
                    <form action="/home/join_group/<%= g.id %>" method="post">
                      <label for="join-pw">Enter Password</label>
                      <input id="join-pw" name= "group_pw" type="text" class="form-control">
                      <div class="popup-buttons">
                        <button type="submit" class="btn">Join</button>
                      </div>
                    </form>
                  </div>
                </div> <!--modal-content-->
              </div> <!--modal-dialog-->
            </div> <!--modal fade-->
          <% end %>
        <% end %><!--@searched_groups.find_each do |g|-->
      <% else %><!-- unless @searched_groups == nil -->
        No Searched Group
      <% end %>
    </div><!-- Main/Board End -->

    <div class="col-md-2">
    </div>

  </div><!-- row -->
</div><!-- container-fluid container-body -->
