<div class="one_event cal_<%= @my_calnoti.event_id %> event_group_0 not_added_event new_event">
  <div style="width: 40px; height: 7px; border-radius: 15%; display: inline-block; background-color: <%= Event.find(@my_calnoti.event_id).color %>"></div>
  <p class="one_event_date">
    <%= @my_calnoti.start.strftime("%b %e") %>
  </p>
  <hr style="margin-bottom: 5px;"/>
  <p class="one_event_title">
    <%= @my_calnoti.title %>
  </p>
  <p class="one_event_content">
    <%= @my_calnoti.description %>
  </p>
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <p class="one_event_time">
    <%= @my_calnoti.start.strftime("%l:%M %p") %> ~ <%= @my_calnoti.end.strftime("%l:%M %p") %>
  </p>
  <p class="one_event_timeleft">
    <%= @my_calnoti.start %>
  </p>
  delete
</div>
