
<% if EventRsvp.where(group_id: @event.group_id).where(user_id: current_user.id).where(event_id: @event.id).exists?(1) == false %>
  <form action="/home/event_rsvp" method="GET">
    <label>Title:</label>
    <%= @event.title %><br>
    <label>Start:</label>
    <%= @event.start %><br>
    <label>End:</label>
    <%= @event.end %><br>
    <input type="radio" name="rsvp" value="Going" checked> Going<br>
    <input type="radio" name="rsvp" value="Not Going" > Not Going<br>
    <input type="radio" name="rsvp" value="Maybe" > Maybe
    <input type="hidden" name="group_id" value="<%= @event.group_id %>"><br>
    <button name="event_id" value= "<%= @event.id %>" type="submit" class="btn btn-default">Submit</button>
  </form>
<% end %>
<% if EventRsvp.where(group_id: @event.group_id).where(user_id: current_user.id).where(event_id: @event.id).exists?(1) == true %>
  <% if EventRsvp.where(group_id: @event.group_id).where(user_id: current_user.id).where(event_id: @event.id).first.rsvp == "Going" %>
    You are attending <%= @event.title %>!
    <form action="/home/event_rsvp" method="GET">
      <label>Title:</label>
      <%= @event.title %><br>
      <label>Start:</label>
      <%= @event.start %><br>
      <label>End:</label>
      <%= @event.end %><br>
      <input type="radio" name="rsvp" value="Going" checked> Going<br>
      <input type="radio" name="rsvp" value="Not Going" > Not Going<br>
      <input type="radio" name="rsvp" value="Maybe" > Maybe
      <input type="hidden" name="group_id" value="<%= @event.group_id %>"><br>
      <button name="event_id" value= "<%= @event.id %>" type="submit" class="btn btn-default">Change</button>
    </form>
  <% end %>
  <% if EventRsvp.where(group_id: @event.group_id).where(user_id: current_user.id).where(event_id: @event.id).first.rsvp == "Not Going" %>
    You are not attending <%= @event.title %>.
    <form action="/home/event_rsvp" method="GET">
      <label>Title:</label>
      <%= @event.title %><br>
      <label>Start:</label>
      <%= @event.start %><br>
      <label>End:</label>
      <%= @event.end %><br>
      <input type="radio" name="rsvp" value="Going" > Going<br>
      <input type="radio" name="rsvp" value="Not Going" checked> Not Going<br>
      <input type="radio" name="rsvp" value="Maybe" > Maybe
      <input type="hidden" name="group_id" value="<%= @event.group_id %>"><br>
      <button name="event_id" value= "<%= @event.id %>" type="submit" class="btn btn-default">Change</button>
    </form>
  <% end %>
  <% if EventRsvp.where(group_id: @event.group_id).where(user_id: current_user.id).where(event_id: @event.id).first.rsvp == "Maybe" %>
    You are maybe attending <%= @event.title %>.
    <form action="/home/event_rsvp" method="GET">
      <label>Title:</label>
      <%= @event.title %><br>
      <label>Start:</label>
      <%= @event.start %><br>
      <label>End:</label>
      <%= @event.end %><br>
      <input type="radio" name="rsvp" value="Going" > Going<br>
      <input type="radio" name="rsvp" value="Not Going" > Not Going<br>
      <input type="radio" name="rsvp" value="Maybe" checked> Maybe
      <input type="hidden" name="group_id" value="<%= @event.group_id %>"><br>
      <button name="event_id" value= "<%= @event.id %>" type="submit" class="btn btn-default">Change</button>
    </form>
  <% end %>
<% end %>
